<template>
  <div class="box wh100">
    <p :class="'box_title' + ' ' + props.boxbg">{{ props.titles[0] }}</p>
    <div class="box_main">
      <div class="w100 eqAnalys">
        <p class="eqAnalys_tit">
          {{ props.titles[1] }}<i>{{ state.sum }}</i
          ><em>{{ props.titles[2] }}</em>
        </p>
        <div class="eqAnalys_process">
          <ProcessSpan :data="state.processData" :titletext="props.titles[0]" :placement="props.position"></ProcessSpan>
        </div>
        <p class="eqAnalys_list_tit">{{ props.titles[3] }}</p>
      </div>
      <div v-if="props.direction == 'vertical'" class="eqAnalys_list w100 oauto">
        <div class="list_item" v-for="(item, index) in props.data">
          <p class="F12 FB" style="color: #32f7ff">{{ item.name }}</p>
          <p class="F12 cfff">{{ item.c }}</p>
        </div>
      </div>
      <div v-else class="eqAnalys_list w100 oauto">
        <div class="list_item" v-for="(item, index) in props.data">
          <span class="F12 FB" style="color: #32f7ff">{{ item.name }}</span>
          <span class="F12 cfff">{{ item.c }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import ProcessSpan from '@/components/other/processSpan.vue'
const router = useRouter()
const route = useRoute()
const state = reactive({
  processData: [],
  sum: 0
})

const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    }
  },
  direction: {
    type: String,
    default: () => {
      return 'vertical'
    }
  },
  position: {
    type: String,
    default: () => {
      return 'top-end'
    }
  },
  titles: {
    type: Array,
    default: () => {
      return ['', '', '', '']
    }
  },
  boxbg: {
    default: () => {
      return 'box-bg-small-biger'
    }
  },
  processData: {
    type: Array,
    default: () => {
      return []
    }
  }
})
onMounted(() => {})
watch(
  () => props.processData,
  newval => {
    let sum = newval.reduce((totalPrice, item) => totalPrice + parseInt(item.value), 0)
    newval.forEach(item => {
      item.count = parseInt((item.value / sum) * 100)
    })
    state.sum = sum
    state.processData = newval
  }
)
</script>
<style lang="less" scoped>
.eqAnalys {
  .eqAnalys_tit {
    font-size: 14px;
    padding-left: 10px;
    color: #fff;
    i {
      color: rgba(29, 230, 255, 1);
      font-size: 24px;
      margin: 0 5px;
    }
    em {
      color: rgba(29, 230, 255, 0.8);
      font-size: 12px;
    }
  }
  .eqAnalys_process {
    padding: 20px 10px 10px 10px;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(to right, rgba(45, 170, 176, 0), rgba(45, 170, 176, 1) 15%, rgba(45, 170, 176, 0) 100%) 2 2;
    border-image: -moz-linear-gradient(to right, rgba(45, 170, 176, 0), rgba(45, 170, 176, 1) 15%, rgba(45, 170, 176, 0) 100%) 2 2;
    border-image: -o-linear-gradient(to right, rgba(45, 170, 176, 0), rgba(45, 170, 176, 1) 15%, rgba(45, 170, 176, 0) 100%) 2 2;
    border-image: linear-gradient(to right, rgba(45, 170, 176, 0), rgba(45, 170, 176, 1) 45%, rgba(45, 170, 176, 0) 100%) 2 2;
  }
  .eqAnalys_list_tit {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 12px;
    padding-left: 10px;
  }
}
.eqAnalys_list {
  height: calc(100% - 145px);
  .list_item {
    padding: 12px 0;
    margin: 0 10px;
    border-bottom: 1px dashed rgba(29, 230, 255, 0.3);
    p {
      line-height: 16px;
    }
  }
}
</style>
