<template>
  <div class="box_wrap w100 flex flex-jb">
    <div class="box">
      <div class="box_title box-jcxx-t-bg flex flex-ac flex-jb">
        <span>数据曲线</span>
        <div class="box_title_right">
          <span class="mr10">查询日期</span>
          <el-date-picker class="mr10" size="mini" popper-class="datePicker_propper" v-model="state.queryTime" type="date" placeholder="请选择日期" clearable @change="changeHandler"></el-date-picker>
          <span class="mr10">信号点选择</span>
          <el-select suffix-icon="CaretTop" size="mini" @change="selectChange" v-model="state.indexCode" class="m-2" placeholder="请选择">
            <el-option v-for="item in state.indexCodes" :key="item.id" :label="item.name" :value="item.id"> </el-option>
          </el-select>
        </div>
      </div>
      <div class="box_main">
        <CurveFill :labelName="state.labelName" :data="state.indexCodeChart"></CurveFill>
      </div>
    </div>
    <div class="box">
      <div class="box_title box-jcxx-t-bg flex flex-ac flex-jb">
        <span>{{ props.rtitle }}</span>
        <div class="flex flex-ac box_title_right h100">
          <el-radio-group v-model="state.radio" @change="radioChange">
            <el-radio label="0">近7天</el-radio>
            <el-radio label="1">自定义</el-radio>
          </el-radio-group>
          <G-datePicker :disabled="state.radio == 0" @change="dataChangeHandler"></G-datePicker>
        </div>
      </div>
      <div class="box_main paddl20 paddt20 paddr20">
        <div class="tableWrap">
          <el-table size="small" class="wh100" height="100%" :data="state.tableData">
            <el-table-column align="center" type="index" label="序号" />
            <el-table-column align="center" show-overflow-tooltip prop="alarmDesc" label="故障名称" />
            <el-table-column align="center" show-overflow-tooltip prop="alarmLevel" label="级别">
              <template v-slot="scoped">
                <span v-html="getAlarmLevelNameH(scoped.row.alarmLevel)"></span>
              </template>
            </el-table-column>
            <el-table-column align="center" show-overflow-tooltip prop="alarmTypeName" label="故障类型" />
            <el-table-column align="center" show-overflow-tooltip prop="createTime" label="发生时间" />
          </el-table>
        </div>
        <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, onUnmounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import CurveFill from '@/components/echarts/curveFill.vue'
import { getPointAlarmHistorys, getPointHistoryChart, getIndexCodesAll } from '@/http/api'
import { getAlarmLevelName } from '@/utils/utils'
import { dateFormat, getDay } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const props = defineProps({
  rtitle: {
    type: String,
    default: () => {
      return '告警信息'
    }
  },
  equipmentId: {
    type: String,
    default: () => {
      return ''
    }
  },
  defaultIndexCode: {
    type: Boolean,
    default: () => {
      return false
    }
  }
})
const state = reactive({
  queryTime: dateFormat(new Date()),
  value: '',
  options: [],
  radio: '0',
  tableData: [],
  pageNum: 1,
  pageSize: 10,
  total: 0,
  equipmentId: '',
  endTime: dateFormat(new Date()),
  startTime: getDay(-7),
  interval: null,
  indexCodes: [],
  indexCode: '',
  labelName: ''
})
getIndexCodesAllHandler()
onMounted(() => {})

// watch(
//   () => props.defaultIndexCode,
//   newval => {
//     state.indexCodes.forEach(item => {
//       if (item.name.includes('效率')) {
//         state.indexCode = item.id
//       }
//     })
//   }
// )
onUnmounted(() => {
  if (state.interval) {
    clearInterval(state.interval)
  }
})
watch(
  () => props.equipmentId,
  newval => {
    state.equipmentId = newval
    init()
    getPointHistoryChartHandler()
  }
)

function init() {
  if (state.interval) {
    clearInterval(state.interval)
    state.interval = null
  }
  getPointAlarmHistorysHandler()
  state.interval = setInterval(() => {
    getPointAlarmHistorysHandler()
  }, 5000)
}

function getIndexCodesAllHandler() {
  getIndexCodesAll().then(res => {
    state.indexCodes = res.data ? res.data : []

    if (props.defaultIndexCode) {
      state.indexCodes.forEach(item => {
        if (item.name.includes('效率')) {
          state.indexCode = item.id
        }
      })
    } else {
      state.indexCode = state.indexCodes.length > 0 ? state.indexCodes[0].id : ''
    }

    // getPointHistoryChartHandler()
  })
}

function selectChange(val) {
  // state.labelName
  state.indexCodes.forEach(item => {
    if (val == item.id) {
      state.labelName = item.name
    }
  })
  getPointHistoryChartHandler()
}
// 数据点记录图表
function getPointHistoryChartHandler() {
  let params = {
    equipmentId: state.equipmentId,
    queryTime: state.queryTime,
    indexCode: state.indexCode
  }

  for (const key in params) {
    if (!params[key] || params[key] == '') {
      delete params[key]
    }
  }
  getPointHistoryChart(params).then(res => {
    let name = []
    let value = []
    res.data.forEach(item => {
      name.push(item.name.split(' ')[1].slice(0, 5))
      value.push(item.value)
    })
    state.indexCodeChart = { name, value }
  })
}

function getPointAlarmHistorysHandler() {
  let params = {
    startTime: state.startTime,
    endTime: state.endTime,
    pageNum: state.pageNum,
    pageSize: 10,
    equipmentId: state.equipmentId
  }
  for (const key in params) {
    if (!params[key] || params[key] == '') {
      delete params[key]
    }
  }
  getPointAlarmHistorys(params).then(res => {
    state.tableData = res.data.list
    state.total = res.data.total
  })
}

function radioChange(val) {
  if (val == 0) {
    state.startTime = getDay(-7)
    state.endTime = dateFormat(new Date())
    init()
  }
}
function dataChangeHandler(time) {
  state.startTime = time.startTime
  state.endTime = time.endTime
  init()
}

function getAlarmLevelNameH(id) {
  let name = getAlarmLevelName(id)
  return name
}
function sizeChange(val) {
  state.pageSize = val
}
function currentChange(val) {
  state.pageNum = val
  init()
  //   emit('currentChange', val)
}
function changeHandler() {}
</script>
<style lang="less" scoped>
.box_wrap {
  height: calc(50% - 20px);
  margin-top: 20px;
  .box_title {
    padding-right: 20px;
  }
  .box {
    width: calc(50% - 10px);
    // margin-left: 20px;
    height: 100%;
  }
}
.datePicker {
  :deep(.el-input.el-date-editor.el-date-editor--date) {
    width: 120px !important;
    .el-input__inner {
      width: 120px !important;
      padding-right: 20px;
    }
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
}
.pagination {
  margin: 10px 0;
}
</style>
