<template>
  <div class="wh100">
    <G-toptitle :name="state.topTitleName" @indexChange="indexChange" :datalength="props.inverterList.length" :data="state.titleData"></G-toptitle>
    <div class="ID_main_right_main w100">
      <div class="box_wrap w100 flex flex-jb">
        <div class="box">
          <p class="box_title box-bg-big-small flex flex-jb">
            <span>实时数据</span>
            <!-- <span class="F14 flex flex-ac pointer" style="color: #1de6ff">
              更多
              <el-icon class="F16IM"><arrow-right /></el-icon>
            </span> -->
          </p>
          <div class="box_main padd20 oauto">
            <el-descriptions :column="2" border>
              <el-descriptions-item label-align="left" align="left" border label-class-name="my-label" class-name="my-content" v-for="(item, index) in state.newDataList" width="150px">
                <template #label>
                  <span class="F12" style="color: #bec0c7">
                    {{ item.pointName }}
                    <i style="color: rgba(50, 247, 255, 0.4)">{{ item.pointUnit }}</i>
                  </span>
                </template>
                <span class="F14" style="color: #32f7ff">{{ item.latestValue }}</span>
              </el-descriptions-item>
            </el-descriptions>
          </div>
        </div>
        <div class="box">
          <p class="box_title box-bg-big-small">近7天单MW发电量对比</p>
          <div class="box_main">
            <DoubleHistogram :data="state.doubleHdata"></DoubleHistogram>
          </div>
        </div>
      </div>
      <Infobot :equipmentId="state.equipmentId"></Infobot>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, onUnmounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import DoubleHistogram from '@/components/echarts/doubleHistogram.vue'

import Infobot from './infobot.vue'
import { getEquiDetails, getEquiDataPoints, getAllStations } from '@/http/api'
import { ElMessage } from 'element-plus'
const router = useRouter()
const route = useRoute()
const emit = defineEmits(['indexChange'])

const props = defineProps({
  inverterList: {
    type: Array,
    default: () => {
      return []
    }
  },
  equipmentId: {
    type: String,
    default: () => {
      return ''
    }
  },
  isStatus: {
    type: Boolean,
    default: () => {
      return false
    }
  }
})

const state = reactive({
  newDataList: [
    // { name: '日发电量', unit: 'kWh', value: 104.83 },
    // { name: '功率因数', unit: '', value: 1.0 },
    // { name: '月发电量', unit: 'kWh', value: 104.83 },
    // { name: 'MPPT输入总功率', unit: 'kW', value: 104.83 },
    // { name: '累计发电量', unit: 'kWh', value: 104.83 },
    // { name: '逆变器转换效率', unit: '%', value: 104.83 },
    // { name: '有功功率', unit: 'kW', value: 104.83 },
    // { name: '机箱温度', unit: '°C', value: 104.83 },
    // { name: '电网频率', unit: 'Hz', value: 104.83 },
    // { name: '逆变器开机时间', unit: '', value: '2021-04-02 12:22:22' },
    // { name: '输出无功功率', unit: 'kVar', value: 0 },
    // { name: '逆变器关机时间', unit: '', value: '2021-04-02 12:22:22' }
  ],
  doubleHdata: {
    xdata: ['2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01'],
    y_left: {
      name: '逆变器单MW发电量',
      data: [20, 60, 110, 40, 80, 10, 50]
    },
    y_right: {
      name: '站平均单MW发电量',
      data: [20, 60, 110, 80, 10, 50, 20]
    }
  },
  titleData: [
    { name: '品牌', value: '华为', key: '' },
    { name: '状态', value: '', key: 'status' },
    { name: '型号', value: '', key: 'model' },
    { name: '投运日期', value: '', key: 'commissionTime' },
    { name: '最新采样时间', value: '', key: 'dataCollectionTime' }
  ],
  topTitleName: '',
  equipmentId: '',
  interval: null,
  inverterList: [],
  stationsLst: []
})
getAllStationsHandler()

onMounted(() => {
  nextTick(() => {
    if (props.equipmentId !== '') {
      state.equipmentId = props.equipmentId
      getEquiDetailsHandler()
      state.inverterList = props.inverterList
      //   console.log(state.inverterList, props.inverterList, state.stationsLst, '22222222222')
      state.inverterList.forEach(item => {
        if (state.equipmentId == (item.realId || item.id)) {
          if (props.isStatus) {
            state.topTitleName = '所属光伏站:' + getStationsName(item.stationId)
          } else {
            state.topTitleName = item.name
          }
        }
      })
      if (state.interval) {
        clearInterval(state.interval)
        state.interval = null
      }
      getEquiDataPointsHandler()
      state.interval = setInterval(() => {
        getEquiDataPointsHandler()
      }, 5000)
    }
  })
})
onUnmounted(() => {
  if (state.interval) {
    clearInterval(state.interval)
  }
})

watch(
  () => props.inverterList,
  newval => {
    state.inverterList = newval
  },
  { deep: true, immediate: true }
)
watch(
  () => props.equipmentId,
  newval => {
    state.equipmentId = newval
    getEquiDetailsHandler()
    let time = setInterval(() => {
      if (state.inverterList.length > 0) {
        clearInterval(time)
        state.inverterList.forEach(item => {
          if ((item.realId || item.id) == newval) {
            if (props.isStatus) {
              state.topTitleName = '所属光伏站:' + getStationsName(item.stationId)
            } else {
              state.topTitleName = item.name
            }
          }
        }, 100)
      }
    })
    if (state.interval) {
      clearInterval(state.interval)
      state.interval = null
    }
    getEquiDataPointsHandler()
    state.interval = setInterval(() => {
      getEquiDataPointsHandler()
    }, 5000)
  },
  { deep: true }
)
function getAllStationsHandler() {
  getAllStations().then(res => {
    state.stationsLst = res.data
  })
}

function getStationsName(id) {
  let str = ''
  state.stationsLst.forEach(item => {
    if (item.id == id) {
      str = item.name
    }
  })
  return str
}

function getEquiDataPointsHandler() {
  getEquiDataPoints(state.equipmentId).then(res => {
    state.newDataList = res.data
  })
}

function getEquiDetailsHandler() {
  getEquiDetails(state.equipmentId).then(res => {
    state.titleData.forEach(item => {
      if (item.key != '') {
        if (item.key == 'status') {
          item.value = res.data.status == 1 ? '运行' : res.data.status == 2 ? '待机' : '离线'
          item.color = res.data.status == 1 ? '#30e0a1' : res.data.status == 2 ? 'rgba(255, 149, 59, 1)' : 'rgb(255, 52, 101)'
        } else {
          item.value = res.data[item.key]
        }
      }
    })
  })
}

function indexChange(val) {
  let id = state.inverterList[val].realId || state.inverterList[val].id
  state.inverterList.forEach(item => {
    console.log(item)
    if ((item.realId || item.id) == id) {
      //   state.topTitleName = item.name
      state.equipmentId = item.realId || item.id
      getEquiDetailsHandler()
      emit('indexChange', item)
    }
  })
}
</script>
<style lang="less" scoped>
.ID_main_right_main {
  height: calc(100% - 56px);
  .box_wrap {
    height: calc(50% - 20px);
    margin-top: 20px;
    .box_title {
      padding-right: 20px;
    }
    .box {
      width: calc(50% - 10px);
      height: 100%;
    }
  }
}

.el-descriptions {
  :deep(.my-label) {
    width: 130px !important;
  }
}
</style>
