<template>
  <div class="wh100">
    <p class="pageTitle">实时监测·{{ state.topTitleName }}</p>
    <div class="mi_main Share_Main w100 flex">
      <div class="mi_main_tree">
        <G-tree nodekey="allId" ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      </div>
      <div class="mi_main_right flex1">
        <InfoDetails :equipmentId="state.equipmentId" :inverterList="state.inverterList" @indexChange="indexChange"></InfoDetails>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import InfoDetails from './components/infoDetails.vue'
import { getEqmTree, getEquipTypes } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, Base64 } from '@/utils/utils'
const router = useRouter()
const route = useRoute()
const gRef = ref(null)
const state = reactive({
  treeData: [],
  isExpend: false,
  stationArr: [],
  inverterList: [],
  eqTypes: [],
  inverId: '',
  topTitleName: '',
  query: null,
  equipmentId: ''
})

if (Object.keys(route.query).length > 0) {
  let str = Base64.decode(route.query.query)
  let equipmentId = ''
  let arr = str.split('|')
  let name = arr[arr.length - 1]
  arr.forEach(item => {
    if (item.includes('10000_')) {
      equipmentId = item.split('_')[1]
    }
  })
  arr.splice(arr.length - 1, 1)
  state.query = {
    allId: arr.join('|'),
    equipmentId,
    name
  }
}

getEquipTypesHandler()
getEqmTreeHandler()
onMounted(() => {})
function indexChange(value) {
  gRef.value.setCurrentKey(value.allId)
  nodeClick(value)
}
function nodeClick(value) {
  //   console.log(value, '333333')
  if (value.level == 10000) {
    state.equipmentId = value.realId
    state.topTitleName = value.name
  }
}
function getEquipTypesHandler() {
  getEquipTypes().then(res => {
    state.eqTypes = res.data.list
    state.eqTypes.forEach(item => {
      if (item.name.includes('逆变器')) {
        state.inverId = item.id
      }
    })
  })
}
function getEqmTreeHandler(allId) {
  getEqmTree({ level: 10000 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    nextTick(() => {
      console.log(state.query, '-=-008776')
      if (state.query) {
        gRef.value.setCurrentKey(state.query.allId)
        state.equipmentId = state.query.equipmentId
        state.topTitleName = state.query.name
      } else {
        gRef.value.setCurrentKey(state.inverterList[0].allId)
        state.equipmentId = state.inverterList[0].realId
        state.topTitleName = state.inverterList[0].name
      }
    })
  })
}
function forTreeData(arr, id, allId) {
  arr.forEach((item, index) => {
    item.realPid = id

    item.allId = item.level == 1 ? '1' : item.level + '_' + item.realId + (allId ? '|' + allId : '')

    if (item.level == 100) {
      let ch = JSON.parse(JSON.stringify(item.children))
      item.children = []
      item.children = ch.filter(t => {
        return t.realId == state.inverId
      })
      state.stationArr.push(item)
    }
    if (item.level == 1000 && state.inverId == item.realId) {
      if (item.children) {
        state.inverterList.push(...item.children)
      }
    }
    if (item && item.children) {
      forTreeData(item.children, item.realId, item.allId)
    }
  })
}
</script>
<style lang="less" scoped></style>
