<template>
  <div class="wh100">
    <p class="pageTitle">{{ state.topTitleName }}逆变器总览</p>
    <div class="Share_Main w100 flex">
      <!-- nodekey="allId" -->
      <G-tree nodekey="allId" ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div class="flex1">
        <!-- <G-toptitle name="xx光伏站" :data="state.titleData"></G-toptitle> -->
        <G-toptitle :name="state.topTitleName == '' ? '逆变器总览' : state.topTitleName" @indexChange="indexChange" :datalength="state.stationArr.length" :data="state.titleData"></G-toptitle>
        <div class="Share_MR_Height">
          <div class="ov_main_right_main_m flex flex-wrap">
            <div :class="{ main_item: true, nodata: !item }" v-for="(item, index) in state.mainList">
              <div @click="routerPush(item)" v-show="item" class="pointer main_item_h nbq_titlebg flex flex-ac flex-jb w100">
                <span class="F18 cfff">{{ item ? item.name : '' }}</span>
                <span v-show="item && (item.status == null || item.status == 0)" class="F14 errorColor FB">离线</span>
                <span v-show="item && item.status == 1" class="F14 FB" style="color: #30e0a1">运行</span>
                <span v-show="item && item.status == 2" class="F14 FB" style="color: rgba(255, 149, 59, 1)">待机</span>
              </div>
              <div v-show="item" class="main_item_m w100 flex flex-column flex-ac flex-jb">
                <div class="main_item_m_t flex flex-jc">
                  <div>
                    <p>{{ item ? item.dailyPowerGeneration : '' }} kWh</p>
                    <span>日发电量</span>
                  </div>
                  <div>
                    <p>{{ item ? item.activePower : '' }} kW</p>
                    <span>有功功率</span>
                  </div>
                  <div></div>
                </div>
                <div class="main_item_m_c">
                  <span>品牌:</span><i>{{ item ? item.manufacturerName : '' }}</i>
                </div>
                <div class="main_item_m_b w100">数据采集时间：{{ item ? item.dataCollectionTime : '' }}</div>
              </div>
              <div v-show="!item" class="wh100">
                <img src="../../../assets/images/nbq_nodata.png" alt="" />
              </div>
            </div>
          </div>
          <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getEqmTree, getEquipTypes, getStatOver, getStations, getEquipments, getEquiOverview } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, Base64 } from '@/utils/utils'
const router = useRouter()
// const route = useRoute()
const gRef = ref(null)
const state = reactive({
  mainList: [],
  titleData: [
    { name: '数量', value: '-', unit: '个', key: 'total' },
    { name: '故障', value: '-', unit: '个', key: 'faultNum' },
    { name: '装机', value: '-', unit: 'MW', key: 'installedCapacity' },
    { name: '日发电量', value: '-', unit: 'kWh', key: 'dailyPowerGeneration' }
  ],
  treeData: [],
  inverterList: [],
  eqTypes: [],
  inverId: '',
  topTitleName: '',
  stationArr: [],
  companyId: '',
  stationId: '',
  equipmentId: '',
  equipmentTypeId: '',
  stationList: [],
  pageSize: 12,
  total: 0,
  pageNum: 1,
  allIdsArr: []
  //   eqoverdata: {}
})
getStationsHandler()
getEquipTypesHandler()
getEqmTreeHandler()

getEquipmentsHandler()
// getEquiOverviewHandler()
onMounted(() => {})

function sizeChange(val) {
  state.pageSize = val
  getEquipmentsHandler()
}
function currentChange(val) {
  state.pageNum = val
  getEquipmentsHandler()
}

function getEquiOverviewHandler() {
  let params = {
    stationId: state.stationId,
    equipmentTypeId: 1
  }
  getEquiOverview(params).then(res => {
    // state.eqoverdata = res.data

    state.titleData.forEach(item => {
      item.value = res.data[item.key] || res.data[item.key] == 0 ? res.data[item.key] : '-'
    })
  })
}

function getEquipmentsHandler() {
  let params = {
    pageNum: state.pageNum,
    pageSize: state.pageSize,
    companyId: state.companyId,
    stationId: state.stationId,
    equipmentTypeId: 1
  }

  getEquipments(params).then(res => {
    let data = res.data.list ? res.data.list : []
    if (data.length < 12) {
      let len = 12 - data.length
      for (let i = 0; i < len; i++) {
        data.push(null)
      }
    }
    state.mainList = data
    state.total = res.data.total
    getEquiOverviewHandler()
  })
}
function routerPush(value) {
  //   console.log(value, '77777777777')
  let str = ''
  state.allIdsArr.forEach(item => {
    if (item.allId.includes('100_' + value.stationId) && item.allId.includes('10000_' + value.id)) {
      str = item.allId + '|' + value.name
    }
  })
  router.push({ path: '/realTimeMonitor/inverter/monitorInfo', query: { query: Base64.encode(str) } })
}

function indexChange(val) {
  let id = state.stationArr[val].realId
  state.allIdsArr.forEach(item => {
    if (item.allId.includes('100_' + id) && item.allId.split('|').length < 4) {
      gRef.value.setCurrentKey(item.allId)
      //   console.log(item)
      nodeClick({ allId: item.allId, name: item.name })
    }
  })
}
watch(state.stationId, newval => {
  state.stationList.forEach(item => {
    if (item.id == newval) {
    }
  })
})

function getStationsHandler() {
  getStations().then(res => {
    state.stationList = res.data.list
  })
}

function nodeClick(value) {
  state.companyId = ''
  state.stationId = ''
  let stationId = ''
  let companyId = ''
  let equipmentId = ''
  let arr = value.allId.split('|')
  arr.forEach(item => {
    let strArr = item.split('_')
    let [key, realId] = [...strArr]
    switch (key) {
      case '10000':
        equipmentId = realId
        break
      // case '1000':
      //   state.equipmentTypeId = realId
      //   break
      case '100':
        stationId = realId
        break
      case '10':
        companyId = realId
        break
      default:
        break
    }
  })
  if (value.allId.split('|').length < 4) {
    state.companyId = companyId
    state.stationId = stationId
    state.topTitleName = value.name
    if (value.level == 10) {
      state.titleData = [
        { name: '数量', value: '-', unit: '个', key: 'total' },
        { name: '故障', value: '-', unit: '个', key: 'faultNum' },
        { name: '装机', value: '-', unit: 'MW', key: 'installedCapacity' },
        { name: '日发电量', value: '-', unit: 'kWh', key: 'dailyPowerGeneration' }
      ]
    } else {
      getEquipmentsHandler()
    }
  } else {
    // console.log(equipmentId, value.allId, value.name)
    routerPush({ stationId, name: value.name, id: equipmentId })
  }
}
function getEquipTypesHandler() {
  getEquipTypes().then(res => {
    state.eqTypes = res.data.list
    state.eqTypes.forEach(item => {
      if (item.name.includes('逆变器')) {
        state.inverId = item.id
      }
    })
  })
}
function getStatOverHandler() {
  getStatOver({ stationId: state.stationId }).then(res => {})
}
function getEqmTreeHandler() {
  getEqmTree({ level: 10000 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
  })
}
function forTreeData(arr, id, allId) {
  arr.forEach((item, index) => {
    item.realPid = id
    item.allId = item.level == 1 ? '1' : item.level + '_' + item.realId + (allId ? '|' + allId : '')

    state.allIdsArr.push({ allId: item.allId, name: item.name, level: item.level })
    if (item.level == 100) {
      let ch = JSON.parse(JSON.stringify(item.children))
      item.children = []
      item.children = ch.filter(t => {
        return t.realId == state.inverId
      })
      state.stationArr.push(item)
    }
    if (item && item.children) {
      forTreeData(item.children, item.realId, item.allId)
    }
  })
}
</script>
<style lang="less" scoped>
.ov_main_right_main_m {
  margin-top: 20px;
  margin-right: -20px;
  height: calc(100% - 52px);
  .main_item {
    width: calc(25% - 20px);
    height: calc(33.3% - 20px);
    margin: 0 20px 20px 0;
    border-bottom: 2px solid rgba(50, 247, 255, 0.4);
    background: rgba(29, 230, 255, 0.04);
    .main_item_h {
      height: 47px;

      padding: 0 20px;

      span {
        display: inline-block;
        height: 100%;
        line-height: 47px;
        text-align: center;
      }
      .F14 {
        width: 50px;
        line-height: 60px;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, rgba(45, 170, 176, 0.2), rgba(45, 170, 176, 1) 40%, rgba(45, 170, 176, 0.2) 100%) 2 2;
      }
    }
    .main_item_m {
      text-align: center;
      height: calc(100% - 47px);
      .main_item_m_t {
        padding: 20px 0 20px 0;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, rgba(45, 170, 176, 0.2) 20%, rgba(45, 170, 176, 1) 45%, rgba(45, 170, 176, 0.2) 80%) 2 2;
        > div {
          padding: 0 15px;
          span {
            color: #bec0c7;
            font-size: 14px;
          }
          p {
            color: #32f7ff;
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
        > div:first-child {
          border-right: 1px solid #023533;
        }
      }
      .main_item_m_c {
        font-size: 14px;
        margin-top: 10px;
        span {
          color: #bec0c7;
        }
        i {
          color: #32f7ff;
        }
      }
      .main_item_m_b {
        height: 40px;
        background: rgba(29, 230, 255, 0.04);
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        color: #bec0c7;
      }
    }
  }
  .nodata {
    border: 2px dashed rgba(29, 230, 255, 0.5);
    .wh100 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70px;
        height: 94px;
      }
    }
  }
}
</style>
