<template>
  <div class="wh100">
    <p class="pageTitle">{{ state.topTitleName }}状态查看</p>
    <div class="Share_Main w100 flex">
      <!-- <G-tree nodekey="allId" ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree> -->
      <div class="treeWrap">
        <el-select @change="changeHandler" suffix-icon="CaretTop" size="mini" v-model="state.status" placeholder="请选择">
          <el-option v-for="item in state.statusList" :key="item.id" :label="item.name" :value="item.id"> </el-option>
        </el-select>
        <div class="treeDiv">
          <div @click="clickHandler(item, index)" :class="{ tree_item: true, active: state.activeIndex == index }" v-for="(item, index) in state.equiList">
            <i></i>
            <span>{{ item.name }}</span>
          </div>
        </div>
      </div>
      <div :class="{ VS_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="gtab">
          <G-tab :data="state.tabData" @change="state.tabIndex = $event"></G-tab>
        </div>
        <div class="main_main w100">
          <InfoDetails :inverterList="state.inverterList" :isStatus="true" v-if="state.tabIndex == 0" :equipmentId="state.equipmentId" @indexChange="indexChange"></InfoDetails>
          <InfoverList v-else :equipmentId="state.equipmentId"></InfoverList>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import InfoDetails from './components/infoDetails.vue'
import InfoverList from './components/infoverList.vue'

import { getEqmTree, getEquipTypes, getEquipments } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  tabData: [
    { name: '详细情况', id: 0 },
    { name: '概览列表', id: 1 }
  ],
  tabIndex: 0,
  treeData: [],
  stationArr: [],
  inverterList: [],
  eqTypes: [],
  inverId: '',
  topTitleName: '',
  equipmentId: '',
  equiList: [],
  statusList: [
    { id: 0, name: '离线' },
    { id: 1, name: '运行' },
    { id: 2, name: '待机' }
  ],
  status: 0,
  activeIndex: 0
})
onMounted(() => {
  //   gRef.value.setCurrentKey(2)
})
getEquipTypesHandler()
// getEqmTreeHandler()
getAllEquipmentsHandler()
getEquipmentsHandler()

function clickHandler(val, index) {
  state.activeIndex = index
  nodeClick(val)
}

function changeHandler() {
  getEquipmentsHandler()
  state.activeIndex = 0
}

function getAllEquipmentsHandler() {
  let params = {
    equipmentTypeId: 1
  }
  getEquipments(params).then(res => {
    state.inverterList = res.data.list
  })
}

function getEquipmentsHandler() {
  let params = {
    equipmentTypeId: 1,
    // 0->离线；1->运行；2->待机
    status: state.status
  }
  getEquipments(params).then(res => {
    state.equiList = res.data.list
    state.activeIndex = 0
    state.equipmentId = state.equiList[0].id
    state.topTitleName = state.equiList[0].name
  })
}

function indexChange(value) {
  console.log(value, 'gRef.value.setCurrentKey')
  //   gRef.value.setCurrentKey(value.allId)
  state.topTitleName = value.name
  nodeClick(value)
}
function nodeClick(value) {
  //   console.log(value, '333333')
  state.equipmentId = value.id
  //   state.topTitleName = '所属光伏站:' + value.stationName
}
function getEquipTypesHandler() {
  getEquipTypes().then(res => {
    state.eqTypes = res.data.list
    state.eqTypes.forEach(item => {
      if (item.name.includes('逆变器')) {
        state.inverId = item.id
      }
    })
  })
}
// function getEqmTreeHandler() {
//   getEqmTree({ level: 10000 }).then(res => {
//     forTreeData(res.data, 0)
//     state.treeData = res.data
//     console.log(state.inverterList, 'state.inverterList')
//     nextTick(() => {
//       gRef.value.setCurrentKey(state.inverterList[0].allId)
//       state.equipmentId = state.inverterList[0].realId
//     })
//   })
// }
</script>
<style lang="less" scoped>
.gtab {
  margin-bottom: 20px;
}
.VS_main {
  height: 100%;
}
.main_main {
  height: calc(100% - 72px);
}
.treeWrap {
  width: 255px;
  background: rgba(50, 247, 255, 0.06);
  border-top: 2px solid #34f8ff;
  border-bottom: 2px solid #34f8ff;
  height: 100%;
  padding: 20px;
  margin-right: 20px;
  transition: all 0.5s;
  :deep(.el-select),
  :deep(.el-select .el-input),
  :deep(input.el-input__inner) {
    width: 100% !important;
  }
  .treeDiv {
    margin-top: 20px;
    height: calc(100% - 50px);
    overflow: auto;
    .tree_item {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      margin: 1px 0;
      background: rgba(29, 230, 255, 0.04);
      cursor: pointer;
      i {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
    }
    .tree_item:hover,
    .active {
      color: #79faff;
      //   -webkit-text-stroke: 1px #32f7ff;
      //   text-stroke: 1px #32f7ff;
      background: linear-gradient(90deg, rgba(100, 252, 255, 0) 0%, rgba(100, 252, 255, 0.4) 20%, rgba(100, 252, 255, 0.26) 55%, rgba(100, 252, 255, 0) 100%);
    }
  }
}
</style>
