<template>
  <div :style="index == state.dataList.length - 1 ? 'border-bottom:0' : ''" class="flex flex-ac flex-jb leftInfo" v-for="(item, index) in state.dataList">
    <img :src="item.src" alt="" />
    <div class="leftInfo_right flex flex-column flex-jc">
      <p>{{ item.name }}</p>
      <p class="integrated_left_rightnum">
        <span>{{ item.value }}</span> <i>{{ item.unit }}</i>
      </p>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()

const props = defineProps({
  data: {
    type: Object,
    default: () => {
      return []
    }
  }
})
const state = reactive({
  dataList: []
})
watchEffect(() => {
  state.dataList = [
    { name: '日发电量', value: props.data.dailyPowerGeneration, unit: 'KWh', src: '/src/assets/images/rfdl.png' },
    { name: '累计发电量', value: props.data.cumulativePowerGeneration, unit: 'KWh', src: '/src/assets/images/ljfdl.png' },
    { name: '日CO2减排量', value: props.data.dailyCO2EmissionReduction, unit: 'KG', src: '/src/assets/images/rco2.png' },
    { name: '累计CO2减排量', value: props.data.cumulativeCO2EmissionReduction, unit: 'KG', src: '/src/assets/images/ljco2.png' },
    { name: '日节煤量', value: props.data.dailyCoalSaving, unit: 'KG', src: '/src/assets/images/rjml.png' },
    { name: '累计节煤量', value: props.data.cumulativeCoalSaving, unit: 'KG', src: '/src/assets/images/ljjml.png' }
  ]
})
onMounted(() => {})
</script>
<style lang="less" scoped>
img {
  width: 120px;
  height: 120px;
}
.leftInfo_right {
  width: calc(100% - 120px);
  height: 100%;

  color: #fff;
  p {
    font-size: 18px;
  }
}
.leftInfo {
  height: 16.6%;
  width: 100%;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, rgba(19, 128, 255, 0) 0%, rgba(45, 170, 176, 1), 70%, rgba(19, 128, 255, 0) 100%) 1 1;
}
.integrated_left_rightnum {
  color: #32f7ff;
  span {
    font-size: 26px;
  }
  i {
    font-size: 14px;
  }
}
</style>
