<template>
  <div class="tableWrap">
    <el-table size="small" class="wh100" height="100%" :data="state.tableData" :span-method="spanMethod" border>
      <el-table-column show-overflow-tooltip prop="equipmentName" label="设备名称" />
      <el-table-column show-overflow-tooltip prop="alarmDesc" label="故障名称" />
      <el-table-column show-overflow-tooltip prop="alarmLevel" label="级别">
        <template v-slot="scoped">
          <span v-html="getAlarmLevelNameH(scoped.row.alarmLevel)"></span>
        </template>
      </el-table-column>
      <el-table-column show-overflow-tooltip prop="alarmTypeName" label="故障类型" />
      <el-table-column show-overflow-tooltip prop="createTime" label="发生时间" />
    </el-table>
  </div>
  <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="props.total"></G-pagination>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { getAlarmLevelName } from '@/utils/utils'
const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    }
  },
  total: {
    type: Number,
    default: () => {
      return 0
    }
  }
})
const emit = defineEmits(['currentChange'])
const router = useRouter()
const route = useRoute()
const state = reactive({
  pageNum: 1,
  pageSize: 10,
  tableData: []
})
watch(
  () => props.data,
  newval => {
    nextTick(() => {
      state.tableData = newval
    })
  },
  { deep: true }
)

const spanMethod = ({ row, column, rowIndex, columnIndex }) => {
  //   console.log(row, column, rowIndex, columnIndex, 'row, column, rowIndex, columnIndex')
  if (columnIndex === 0) {
    //     if (rowIndex % 2 === 0) {
    //       return {
    //         rowspan: 2,
    //         colspan: 1
    //       }
    //     } else {
    //       return {
    //         rowspan: 0,
    //         colspan: 0
    //       }
    //     }
  }
}

onMounted(() => {})
function getAlarmLevelNameH(id) {
  let name = getAlarmLevelName(id)
  return name
}
function sizeChange(val) {
  state.pageSize = val
}
function currentChange(val) {
  state.pageNum = val
  emit('currentChange', val)
}
</script>
<style lang="less" scoped>
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
}
.pagination {
  margin: 10px 0;
}
</style>
