<template>
  <div class="wh100">
    <G-toptitle :name="state.name" @indexChange="indexChange" :datalength="stationArr.length" name="xx光伏站" :data="state.titleData"></G-toptitle>
    <div class="w100 alarmTop_bot paddt20">
      <div class="w100 flex mb15">
        <G-datePicker :initDate="state.initDate" @change="changeHandler"></G-datePicker>
        <el-select clearable suffix-icon="CaretTop" size="mini" v-model="state.equipmentTypeId" class="ml15" placeholder="请选择">
          <el-option v-for="item in state.euipTypes" :key="item.id" :label="item.name" :value="item.id"> </el-option>
        </el-select>
        <el-select clearable suffix-icon="CaretTop" size="mini" v-model="state.alarmLevel" class="ml15" placeholder="请选择">
          <el-option v-for="item in state.alarmLeveArr" :key="item.id" :label="item.name" :value="item.id"> </el-option>
        </el-select>
        <el-select clearable suffix-icon="CaretTop" size="mini" v-model="state.status" class="ml15" placeholder="请选择">
          <el-option v-for="item in state.statusArr" :key="item.id" :label="item.name" :value="item.id"> </el-option>
        </el-select>
        <G-button class="ml15" size="small" @click="clickHandler">查询</G-button>
      </div>
      <div class="w100 alarmTop_bot_bot">
        <div class="tableWrap">
          <el-table size="small" class="wh100" height="100%" :data="state.tableData" stripe>
            <el-table-column align="center" prop="stationName" label="站点名称" />
            <el-table-column align="center" prop="equipmentName" label="设备名称" />
            <el-table-column show-overflow-tooltip align="center" prop="alarmDesc" label="告警描述" />
            <el-table-column align="center" prop="alarmLevel" label="报警级别">
              <template v-slot="scoped">
                <span>{{ getAlarmLevelName(scoped.row.alarmLevel) }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" prop="createTime" label="发生时间" />
            <el-table-column align="center" prop="status" label="处理状态">
              <template v-slot="scoped">
                <span>{{ getStatus(scoped.row.status) }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" prop="value" label="当前值" />
            <el-table-column align="center" prop="limitValue" label="阈值" />
            <el-table-column align="center" label="操作">
              <template v-slot="scope">
                <span class="F12 pointer" style="color: rgba(50, 247, 255, 1)"><img class="img14 vam" src="../../../assets/images/pd.png" alt="" /><i>派单</i></span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import PieChart from '../../../components/echarts/pieChart.vue'

import { getEquipTypes, getPointAlarmHistorys, getStations, getEquiDetails } from '@/http/api'
import { dateFormat, cgDateTime, getAlarmLevelName, alarmLeveArr } from '@/utils/utils'

const props = defineProps({
  companyId: {},
  stationId: {},
  equipmentId: {},
  pointId: {},
  stationArr: {},
  titleName: '',
  allId: {}
})
const emit = defineEmits(['timeChange', 'indexChange'])
const state = reactive({
  titleData: [
    { name: '状态', value: '-', key: 'status' },
    { name: '装机', value: 0, unit: 'MW', key: 'installedCapacity' },
    { name: '日发电量', value: 0, unit: 'kWh', key: 'dailyPowerGeneration' },
    { name: '投运日期', value: '-', key: 'commissionTime' }
  ],
  tableData: [],
  euipTypes: [],
  alarmLeveArr: alarmLeveArr,
  getAlarmLevelName: getAlarmLevelName,
  statusArr: [
    { id: 0, name: '未处理' },
    { id: 1, name: '正在处理' },
    { id: 2, name: '已处理' }
  ],
  equipmentTypeId: '',
  alarmLevel: '',
  status: '',
  time: {},
  pageNum: 1,
  pageSize: 15,
  total: 0,
  stationArr: [],
  stationsAll: [],
  name: '',
  initDate: []
})
getStationsHandler()
onMounted(() => {
  getEquipTypesHandler()
  let week = weekdate()
  let currdate = new Date()
  state.initDate = [week, currdate]
  //   getPointAlarmHistorysHandler()
})
watchEffect(() => {
  console.log(props)
  state.name = props.titleName
  getPointAlarmHistorysHandler()
  state.stationArr = props.stationArr
})
watch(
  () => props.allId,
  newval => {
    if (newval.includes('100_') && !newval.includes('1000_')) {
      getInfo(newval)
    } else if (newval.includes('10000_')) {
      getEquiDetailsHandler()
    } else {
      state.titleData = [
        { name: '状态', value: '-', key: 'status' },
        { name: '装机', value: 0, unit: 'MW', key: 'installedCapacity' },
        { name: '日发电量', value: 0, unit: 'kWh', key: 'dailyPowerGeneration' },
        { name: '投运日期', value: '-', key: 'commissionTime' }
      ]
    }
  }
)
function weekdate() {
  var time = new Date().getTime() - 7 * 24 * 60 * 60 * 1000
  var tragetTime = new Date(time)
  return tragetTime
}

function getInfo(allId) {
  let arrId = allId.split('|')
  let id = ''
  arrId.forEach(item => {
    let strArr = item.split('_')
    let [key, realId] = [...strArr]
    if (key == '100') {
      id = realId
    }
  })
  let arr = state.stationsAll.filter(item => {
    return item.id == id
  })

  state.titleData.forEach(item => {
    if (item.key == 'status') {
      console.log(arr[0][item.key], 'arr[0][item.key]')
      item.value = arr[0][item.key] == 0 ? '正常' : arr[0][item.key] == 1 ? '异常' : '-'
    } else {
      item.value = arr.length > 0 ? arr[0][item.key] : ''
    }
  })
  //   state.name = arr.length > 0 ? arr[0].name : ''
}
function getEquiDetailsHandler() {
  getEquiDetails(props.equipmentId).then(res => {
    let data = res.data
    state.titleData.forEach(item => {
      if (item.key == 'status') {
        if (data.equipmentTypeId == 1) {
          item.value = res.data.status == 1 ? '运行' : res.data.status == 2 ? '待机' : '离线'
          item.color = res.data.status == 1 ? '#30e0a1' : res.data.status == 2 ? 'rgba(255, 149, 59, 1)' : 'rgb(255, 52, 101)'
        } else {
          item.value = data[item.key] == 0 ? '正常' : data[item.key] == 1 ? '采集异常' : '-'
          item.color = data[item.key] == 1 ? 'rgb(255, 52, 101)' : ''
        }
        // item.color = arr[0][item.key] == 1 ? 'red' : null
      } else {
        item.value = data[item.key] || data[item.key] == 0 ? data[item.key] : ''
      }
    })
  })
}
function getStationsHandler(isfirst) {
  getStations().then(res => {
    state.stationsAll = res.data ? res.data.list : []
    // if (state.stationsAll.length > 0) {
    //   getInfo(state.stationsAll[0].id)
    // }
  })
}

function indexChange(val) {
  getInfo(state.stationArr[val].allId)
  getPointAlarmHistorysHandler()
  emit('indexChange', state.stationArr[val].allId)
}
function getStatus(id) {
  let str = ''
  state.statusArr.forEach(item => {
    if (item.id == id) {
      str = item.name
    }
  })
  return str
}
function changeHandler(value) {
  state.time = value
}
function sizeChange(val) {
  state.pageSize = val
  getPointAlarmHistorysHandler()
}
function currentChange(val) {
  state.pageNum = val
  getPointAlarmHistorysHandler()
}
function clickHandler() {
  emit('timeChange', state.time)
  getPointAlarmHistorysHandler()
}
function getPointAlarmHistorysHandler() {
  let obj = {
    pageNum: state.pageNum,
    pageSize: state.pageSize,
    equipmentTypeId: state.equipmentTypeId,
    alarmLevel: state.alarmLevel,
    status: state.status,
    companyId: props.companyId,
    stationId: props.stationId,
    equipmentId: props.equipmentId
    // pointId:props.pointId
  }
  Object.assign(obj, state.time)

  let params = {}
  for (const key in obj) {
    if (obj[key] !== '' && (obj[key] || obj[key] == 0)) {
      params[key] = obj[key]
    }
  }
  getPointAlarmHistorys(params).then(res => {
    state.tableData = res.data ? res.data.list : []
    state.total = res.data.total
  })
}
function getEquipTypesHandler() {
  getEquipTypes().then(res => {
    state.euipTypes = res.data.list
  })
}
</script>
<style lang="less" scoped>
.alarmTop_bot {
  height: calc(100% - 56px);
  padding-left: 10px;
  padding-right: 10px;
  .alarmTop_bot_bot {
    height: calc(100% - 43px);
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
}
.pagination {
  margin: 10px 0;
}
</style>
