<template>
  <!-- 曲线填充 -->
  <div id="curveFill" style="width: 100%; height: 100%"></div>
</template>
<script setup>
import { markRaw, computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, inject } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { selfAdaption, resize } from '@/utils/utils'
const echarts = inject('echarts')

const props = defineProps({
  data: {
    type: Object,
    default: () => {
      return { name: [], value: [] }
    }
  },
  labelName: {
    type: String,
    default: () => {
      return ''
    }
  }
})

watch(
  () => props.data,
  newval => {
    state.data = newval
    init()
  },
  { deep: true }
)

watch(
  () => props.labelName,
  newval => {
    state.labelName = newval
  }
)

const state = reactive({
  echart: null,
  data: { name: [], value: [] }
})
onMounted(() => {})
function init() {
  if (state.echart) {
    state.echart.clear()
  }
  state.echart = markRaw(echarts.init(document.getElementById('curveFill')))
  let option = {
    // backgroundColor: 'rgb(1, 34, 33)',
    tooltip: {
      show: true,
      trigger: 'axis',
      backgroundColor: '#202630',
      borderColor: '#202630',
      textStyle: {
        color: '#fff',
        fontSize: selfAdaption(12)
      },
      axisPointer: {
        type: 'line',
        lineStyle: {
          type: 'solid'
        }
      },
      formatter: function (params) {
        return params[0].name + ' : ' + params[0].value + 'W'
      }
    },

    grid: {
      top: selfAdaption(50),
      left: selfAdaption(70),
      right: selfAdaption(30),
      bottom: selfAdaption(50)
      // containLabel: true
    },
    legend: {
      bottom: '1%',
      icon: 'circle',
      itemWidth: selfAdaption(10),
      itemHeight: selfAdaption(10),
      itemStyle: {
        color: 'rgba(50, 247, 255, 1)',
        borderWidth: 0
      },
      textStyle: {
        color: 'rgba(190, 192, 199, 1)',
        fontSize: selfAdaption(12)
        // padding: [selfAdaption(20), 0, 0, 0]
      }
    },
    xAxis: [
      {
        type: 'category',
        boundaryGap: false,
        axisLine: {
          //坐标轴轴线相关设置。数学上的x轴
          show: true,
          lineStyle: {
            color: '#233653'
          }
        },
        axisLabel: {
          //坐标轴刻度标签的相关设置
          textStyle: {
            color: 'rgb(60, 82, 81)',
            // padding: selfAdaption(16),
            fontSize: selfAdaption(14)
          },
          formatter: function (data) {
            return data
          }
        },
        splitLine: {
          show: false,
          lineStyle: {
            color: 'rgb(19, 50, 49)'
          }
        },
        axisTick: {
          show: false
        },
        data: state.data.name
      }
    ],
    yAxis: [
      {
        name: '功率（W）',
        nameTextStyle: {
          color: 'rgb(60, 82, 81)',
          fontSize: selfAdaption(12)
          //   padding: selfAdaption(10)
        },
        min: 0,
        splitLine: {
          show: true,
          lineStyle: {
            type: 'solid',
            color: 'rgba(40, 44, 56, 0.8)'
          }
        },
        axisLine: {
          show: false,
          lineStyle: {
            color: '#233653'
          }
        },
        axisLabel: {
          show: true,
          textStyle: {
            color: 'rgb(60, 82, 81)',
            padding: selfAdaption(16)
          }
          //   formatter: function (value: any) {
          //     if (value === 0) {
          //       return value
          //     }
          //     return value + '万'
          //   }
        },
        axisTick: {
          show: false
        }
      }
    ],
    series: [
      {
        name: state.labelName,
        type: 'line',
        symbol: 'none', // 默认是空心圆（中间是白色的），改成实心圆
        // showAllSymbol: true,
        // symbolSize: 8,
        smooth: true,
        lineStyle: {
          normal: {
            width: selfAdaption(4),
            shadowColor: 'rgb(1, 34, 33)',
            shadowOffsetY: selfAdaption(15),
            shadowBlur: selfAdaption(8),
            color: new echarts.graphic.LinearGradient(
              0,
              1,
              1,
              0,
              [
                {
                  offset: 0,
                  color: '#FBFF50'
                },
                {
                  offset: 0.25,
                  color: '#80FFE1'
                },
                {
                  offset: 0.5,
                  color: '#17ED76'
                },
                {
                  offset: 0.75,
                  color: '#60FFCF'
                },
                {
                  offset: 1,
                  color: '#55FDCA'
                }
              ],
              false
            )
          },
          borderColor: 'rgba(0,0,0,.4)'
        },
        itemStyle: {
          color: '#b7f9ff',
          borderColor: '#2185da',
          borderWidth: selfAdaption(3),
          shadowColor: 'rgba(22, 137, 229)',
          shadowBlur: selfAdaption(14)
        },
        tooltip: {
          show: true
        },
        areaStyle: {
          //区域填充样式
          normal: {
            //线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
            color: new echarts.graphic.LinearGradient(
              0,
              0,
              0,
              1,
              [
                {
                  offset: 0,
                  color: 'rgba(42, 191, 223, 0.4)'
                },
                {
                  offset: 1,
                  color: 'rgba(25,163,223, 0)'
                }
              ],
              false
            ),
            shadowColor: 'rgba(25,163,223, 0.3)', //阴影颜色
            shadowBlur: selfAdaption(20) //shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
          }
        },
        data: state.data.value
      }
    ]
  }
  state.echart.setOption(option)
  resize(state.echart, 'curveFill')
}
</script>
<style lang="less" scoped></style>
