<template>
  <!-- 双柱状图 -->
  <div id="doubleHistogram" style="width: 100%; height: 100%"></div>
</template>
<script setup>
import { markRaw, computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, inject } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { selfAdaption, resize } from '@/utils/utils'
const echarts = inject('echarts')
const props = defineProps({
  data: {
    type: Object,
    default: () => {
      return {
        title: '近7天单MW发电量对比',
        xdata: ['2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01'],
        y_left: {
          name: '单MW发电量',
          data: [20, 60, 110, 40, 80, 10, 50]
        },
        y_right: {
          name: '子阵平均单MW发电量',
          data: [20, 60, 110, 80, 10, 50, 20]
        }
      }
    }
  }
})
const state = reactive({
  echarts: null
})
onMounted(() => {
  init()
})

function init() {
  if (state.echarts) {
    state.echarts.clear()
  }
  state.echarts = markRaw(echarts.init(document.getElementById('doubleHistogram')))

  let option = {
    title: {
      text: props.data.title || '',
      textStyle: {
        color: '#fff',
        fontSize: selfAdaption(16)
      },
      top: selfAdaption(10)
    },
    grid: {
      top: selfAdaption(80),
      left: selfAdaption(60),
      right: selfAdaption(20),
      bottom: selfAdaption(40)
    },
    legend: {
      textStyle: {
        color: '#BEC0C7',
        fontSize: selfAdaption(14)
      },
      top: selfAdaption(10),
      right: selfAdaption(16),
      icon: 'circle',
      itemWidth: selfAdaption(10),
      itemHeight: selfAdaption(10)
    },
    tooltip: {
      //   trigger: 'axis'
      //   fontSize: selfAdaption(14)
    },
    xAxis: {
      type: 'category',
      color: '#59588D',
      data: props.data.xdata,
      axisLabel: {
        textStyle: {
          color: '#91aac4',
          //   padding: selfAdaption(16),
          fontSize: selfAdaption(12)
        }
      },
      axisLine: {
        lineStyle: {
          color: '#233653'
        }
      },
      axisTick: {
        show: false
      }
    },
    yAxis: {
      name: 'kWh',
      nameTextStyle: {
        color: '#91aac4',
        fontSize: selfAdaption(16),
        padding: selfAdaption(10)
      },
      axisLabel: {
        formatter: '{value}',
        textStyle: {
          color: '#91aac4',
          padding: selfAdaption(16)
        }
      },
      axisLine: {
        show: true,
        lineStyle: {
          color: '#233653'
        }
      },
      axisTick: {
        show: false
      },
      splitLine: {
        show: true,
        lineStyle: {
          color: 'rgb(19, 50, 49)'
        }
      }
    },
    series: [
      {
        type: 'bar',
        name: props.data.y_left.name,
        data: props.data.y_left.data,
        barWidth: selfAdaption(10),
        itemStyle: {
          normal: {
            color: 'rgba(254, 215, 94,1)',
            barBorderRadius: selfAdaption(10) //圆角大小
          }
        },
        label: {
          normal: {
            show: false,
            fontSize: selfAdaption(16),
            fontWeight: 'bold',
            color: '#333',
            position: 'top'
          }
        }
      },
      {
        type: 'bar',
        name: props.data.y_right.name,
        data: props.data.y_right.data,
        markPoint: {
          data: [
            { value: '低效', xAxis: 1, yAxis: 70 },
            { name: 'Min', value: 2.3, xAxis: 11, yAxis: 3 }
          ]
        },
        barWidth: selfAdaption(10),
        itemStyle: {
          normal: {
            color: 'rgba(60, 126, 253,1)',
            barBorderRadius: selfAdaption(10) //圆角大小
          }
        },
        label: {
          normal: {
            show: false,
            fontSize: selfAdaption(16),
            fontWeight: 'bold',
            color: '#333',
            position: 'top'
          }
        }
      }
    ]
  }
  state.echarts.setOption(option)
  resize(state.echarts, 'doubleHistogram')
}
</script>
<style lang="less" scoped></style>
