<template>
  <div style="width: 100%; height: 100%" id="mapId"></div>
</template>
<script setup>
import { china } from '@/utils/china'
import { inject, computed, reactive, onMounted, nextTick, watchEffect } from 'vue'
import { useStore } from 'vuex'
import { chinaMapOutline } from '@/utils/chinaOutLine'
import { selfAdaption, resize } from '@/utils/utils'

const props = defineProps({
  data: {
    type: Array,
    default: () => {
      return []
    }
  }
})

let mapChart  = null
const store = useStore()
const echarts = inject('echarts')
const state = reactive({
  mapChart: null,
  windowWidthan: window.screen.width / 1920,
  status_0: [],
  status_1: [],
  spotData: [
    { name: '西藏', value: [86.657784, 33.434604] },
    { name: '内蒙古', value: [120.232002, 45.524399] },
    { name: '甘肃', value: [96.149971, 40.516681] },
    { name: '四川', value: [103.00544, 30.830036] },
    { name: '宁夏', value: [106.345284, 37.233346] },
    { name: '陕西', value: [108.63044, 33.946504] },
    { name: '山西', value: [111.970284, 37.373169] },
    { name: '重庆', value: [107.817452, 29.805807] },
    { name: '湖北', value: [112.475655, 31.206647] },
    { name: '山东', value: [118.320381, 36.35358] },
    { name: '江苏', value: [119.946358, 32.88277] },
    { name: '浙江', value: [120.122139, 29.021062] },
    { name: '河北', value: [114.551725, 38.034953] },
    { name: '江西', value: [115.782194, 28.81081] }
  ],
  spotChildData: [
    { name: '西藏', value: [87.558662, 30.091387] },
    { name: '西藏', value: [94.721748, 30.3951] },

    { name: '内蒙古', value: [111.596748, 41.856019] },

    { name: '甘肃', value: [95.952217, 38.808424] },
    { name: '甘肃', value: [98.808662, 39.895788] },

    { name: '四川', value: [100.742256, 30.811166] },

    { name: '宁夏', value: [106.059639, 36.123189] },

    { name: '陕西', value: [109.091866, 37.110788] },
    { name: '陕西', value: [109.794991, 34.074002] },

    { name: '山西', value: [112.783272, 35.981073] },

    { name: '重庆', value: [108.520577, 29.213021] },

    { name: '湖北', value: [111.069405, 31.187852] },

    { name: '山东', value: [120.693428, 37.28581] },

    { name: '江苏', value: [119.111397, 33.782298] },
    { name: '浙江', value: [120.561592, 28.055936] },

    { name: '上海', value: [121.28669, 31.417835] },

    { name: '北京', value: [116.661446, 40.729318] },

    { name: '河北', value: [116.089811, 38.311332] },

    { name: '江西', value: [115.430631, 27.53245] }
  ]
})
const emit = defineEmits(['mapClickHandler'])
onMounted(() => {})

watchEffect(() => {
  props.data.forEach(item => {
    if (!item.status && item.status != 0) item.status = 1
    state['status_' + item.status].push(item)
    // console.log(item.status)
  })
  nextTick(() => {
    initEchartMap()
  })
})

function mapClickHandler(e) {
  emit('mapClickHandler', e)
}
function initEchartMap() {
  if (mapChart) {
    mapChart.clear()
    mapChart = null
  }
  //   console.log(document.getElementById('mapId'), "document.getElementById('mapId')")
  let el = document.getElementById('mapId')
  mapChart = echarts.init(el)
  echarts.registerMap('china', china)
  echarts.registerMap('chinaMapOutline', chinaMapOutline)
  let optionMap = {
    geo: {
      animation: false,
      top: '5%',
      bottom: '5%',
      show: true,
      map: 'china',
      roam: true,
      scaleLimit: {
        min: 1
      },
      z: 2,
      layoutSize: 100,
      label: {
        emphasis: {
          show: false
        }
      },
      itemStyle: {
        normal: {
          areaColor: 'rgba(15, 67, 67,0)',
          borderColor: 'rgb(37, 170, 173)',
          borderWidth: selfAdaption(2),
          shadowColor: 'rgb(56, 218, 213,0.2)',
          shadowBlur: selfAdaption(30)
        },
        emphasis: {
          areaColor: 'rgb(37, 170, 173)',
          borderWidth: 0
        }
      }
    },
    tooltip: {
      trigger: 'item',
      className: 'tooltipMap',
      backgroundColor: 'rgba(0,0,0,0)',
      borderWidth: 0,
      padding: 0,
      position: 'top',
      extraCssText: 'box-shadow: 0 0 0 rgba(0, 0, 0, 0);',
      formatter: function (params) {
        if (params.componentSubType == 'scatter') {
          let str = `
            <div class="tooltipMap_inner">
                <div class="inner_text">
                    <span class="sign" style="border-color:${params.color}"></span>
                    <span class="title">${params.name}</span>
                </div>
                <div class="inner_text">
                    <span>位置：${params.value[2] ? params.value[2] : ''}</span>
                </div>
                <div class="inner_text">
                    <span>实时发电量：${params.value[3] ? params.value[3] : 0} kWh</span>
                </div>
            
            </div>
            `
          return str
        } else {
          return ''
        }
      }
    },
    series: [
      {
        type: 'map',
        top: '5%',
        bottom: '5%',
        scaleLimit: {
          min: 1
        },
        animation: false,
        show: true,
        map: 'chinaMapOutline',
        layoutSize: 100,
        label: {
          emphasis: {
            show: false
          }
        },
        z: 1,
        itemStyle: {
          normal: {
            areaColor: {
              type: 'linear',
              x: 1,
              y: 0,
              x2: 1,
              y2: 1,
              colorStops: [
                {
                  offset: 0,
                  color: 'rgb(7, 27, 27)' // 0% 处的颜色
                },
                {
                  offset: 0.3,
                  color: 'rgb(7, 27, 27)' // 0% 处的颜色
                },
                {
                  offset: 1,
                  color: 'rgb(32, 154, 159)' // 100% 处的颜色
                }
              ]
            },
            borderColor: 'rgb(56, 218, 213)', //省市边界线00fcff 516a89
            borderWidth: selfAdaption(3),
            shadowColor: 'rgb(39, 185, 190)',
            shadowBlur: selfAdaption(30)
          },
          emphasis: {
            areaColor: {
              type: 'linear',
              x: 1,
              y: 0,
              x2: 1,
              y2: 1,
              colorStops: [
                {
                  offset: 0,
                  color: 'rgb(7, 27, 27)' // 0% 处的颜色
                },
                {
                  offset: 0.3,
                  color: 'rgb(7, 27, 27)' // 0% 处的颜色
                },
                {
                  offset: 1,
                  color: 'rgb(32, 154, 159)' // 100% 处的颜色
                }
              ]
            },
            borderColor: 'rgb(56, 218, 213)', //省市边界线00fcff 516a89
            borderWidth: selfAdaption(3),
            shadowColor: 'rgb(39, 185, 190)',
            shadowBlur: selfAdaption(30)
          }
        },

        select: {
          itemStyle: {
            areaColor: 'rgb(0,0,0,0)'
          },
          label: {
            show: false
          }
        }
      },
      {
        type: 'scatter',
        coordinateSystem: 'geo',
        // symbol: 'image://' + state.signImg,
        symbolSize: selfAdaption(10),
        label: {
          normal: {
            formatter: '{b}',
            position: 'right',
            show: false
          },
          emphasis: {
            show: false
          }
        },
        itemStyle: {
          normal: {
            color: 'rgba(113, 249, 255, 1)',
            borderColor: 'rgba(113, 249, 255, 0.4)',
            borderWidth: selfAdaption(10)
          }
        },
        data: state.status_0
      },
      {
        type: 'scatter',
        coordinateSystem: 'geo',
        // symbol: 'image://' + state.signImg,
        symbolSize: selfAdaption(10),
        label: {
          normal: {
            formatter: '{b}',
            position: 'right',
            show: false
          },
          emphasis: {
            show: false
          }
        },
        itemStyle: {
          normal: {
            color: 'rgba(247, 39, 65, 1)',
            borderColor: 'rgba(247, 39, 65, 0.4)',
            borderWidth: selfAdaption(10)
          }
        },
        data: state.status_1
      }
    ]
  }
  mapChart.setOption(optionMap)
  mapChart.on('click', mapClickHandler)
  mapChart.on('georoam', function (params) {
    var option = mapChart.getOption() //获得option对象
    if (params.zoom != null && params.zoom != undefined) {
      //捕捉到缩放时
      option.series[0].zoom = option.geo[0].zoom //下层geo的缩放等级跟着上层的geo一起改变
      option.series[0].center = option.geo[0].center //下层的geo的中心位置随着上层geo一起改变
    } else {
      //捕捉到拖曳时
      option.series[0].center = option.geo[0].center //下层的geo的中心位置随着上层geo一起改变
    }
    mapChart.setOption(option) //设置option
  })
  resize(mapChart, 'mapId')
}
</script>
<style lang="less">
.tooltipMap {
  .tooltipMap_inner {
    width: 300px;
    height: 160px;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    background: url('../../assets/images/maptool.png') no-repeat;
    background-size: 100% 100%;
    .inner_text {
      display: flex;
      align-items: center;
      margin: 6px 0;
      .sign {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-width: 6px;
        border-style: solid;
        border-radius: 50%;
        margin-right: 10px;
      }
      .title {
        font-size: 18px;
      }
      font-size: 14px;
      color: #fff;
    }
  }
}
</style>
