<template>
  <!-- 饼图 -->
  <div :id="props.cid" style="width: 100%; height: 100%"></div>
</template>
<script setup>
import { markRaw, reactive, watchEffect, onMounted, inject, watch, nextTick } from 'vue-demi'
import { selfAdaption, resize } from '@/utils/utils'
const echarts = inject('echarts')
let pieEchart = null
const props = defineProps({
  legend: {
    type: Object,
    default: () => {
      return {
        show: true,
        bottom: '5%',
        left: 'center'
      }
    }
  },
  seriesObj: {
    type: Object
  },
  data: {
    type: Array,
    default: () => {
      return [
        { value: 1048, name: '华为' },
        { value: 735, name: '阳光' },
        { value: 580, name: '三星' },
        { value: 484, name: '小米' },
        { value: 300, name: '格力' }
      ]
    }
  },
  titleText: {
    type: String,
    default: () => {
      return ''
    }
  },
  cid: {
    type: String,
    default: () => {
      return 'pieChart'
    }
  }
})

const state = reactive({})
watchEffect(() => {
  if (props.data.length > 0) {
    nextTick(() => {
      init()
    })
  }
})
function init() {
  if (pieEchart) {
    pieEchart.clear()
  }
  let legend = {
    itemWidth: selfAdaption(10),
    itemHeight: selfAdaption(10),
    icon: 'circle',
    textStyle: {
      color: '#9facaf'
    }
  }
  Object.assign(legend, props.legend)
  let el = document.getElementById(props.cid)
  pieEchart = markRaw(echarts.init(el))
  let serieso = {
    name: '',
    type: 'pie',
    radius: ['35%',"55%"],
    avoidLabelOverlap: false,
    startAngle:0,
    label: {
      show: true,
      position: 'outside',
      normal: {
        formatter: (params) => {
          return '{icon|}{name|' + params.name + '}\n{value|' + params.percent + '%}'
        },
        padding: [0, selfAdaption(-60), selfAdaption(35), selfAdaption(-40)],
        rich: {
          icon: {
            width: selfAdaption(12),
            height: selfAdaption(12),
            borderRadius: selfAdaption(6),
            color: 'inherit',
            backgroundColor: 'inherit'
          },
          name: {
            color: '#a7b4b6',
            padding: [0, 0, 0, selfAdaption(5)],
            lineHeight: selfAdaption(18),
            fontSize: selfAdaption(12)
          },
          value: {
            color: '#fff',
            lineHeight: selfAdaption(18),
            fontSize: selfAdaption(12)
          }
        }
      }
    },
    // emphasis: {
    //   label: {
    //     show: true,
    //     fontSize: '40',
    //     fontWeight: 'bold'
    //   }
    // },
    labelLine: {
      show: true,
      length: selfAdaption(25),
      length2: selfAdaption(40)
    },
    data: props.data
  }

  Object.assign(serieso, props.seriesObj)

  let option = {
    // tooltip: {
    //   trigger: 'item'
    // },
    color: ['#00E577', '#FE7F3D', '#80D0F4', '#3D5AFE', '#B1EBF2', '#FEDD3D'],
    title: {
      show: true,
      text: props.titleText,
      top: '45%',
      textAlign: 'center',
      left: '49%',
      textStyle: {
        color: '#fff',
        fontSize: selfAdaption(18),
        fontWeight: '400'
      }
    },
    legend,
    series: [serieso]
  }
  pieEchart.setOption(option)
  resize(pieEchart, 'pieChart')
}
</script>
<style lang="less" scoped>
#pieChart {
}
.pieformatter {
}
</style>
