<template>
  <!-- 雷达图 -->
  <div id="radarchart" style="width: 100%; height: 100%"></div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, inject } from 'vue-demi'
import { selfAdaption, resize } from '@/utils/utils'
const echarts = inject('echarts')

const props = defineProps({
  data: {
    type: Object,
    default: () => {
      return { name: [], value: [] }
    }
  }
})
watch(
  () => props.data,
  newval => {
    state.data = newval
    init()
  }
)

const state = reactive({
  echart: null,
  data: { name: [], value: [] }
})
onMounted(() => {})
function init() {
  if (state.echart) {
    state.echart.clear()
  }
  state.echart = echarts.init(document.getElementById('radarchart'))
  let option = {
    tooltip: {
      show: true,
      backgroundColor: '#022a29',
      textStyle: {
        color: '#32F7FF'
      }
    },
    radar: {
      // shape: 'circle',
      //   center: ['35%', '50%'],
      axisLine: {
        lineStyle: {
          color: '#32F7FF'
        }
      },
      splitLine: {
        lineStyle: {
          color: 'rgba(50, 247, 255, 0.3)'
        }
      },
      splitArea: {
        show: false
      },
      indicator: state.data.name
    },
    // color: ['#FF6B6B', '#FFB242', '#72B1FF', '#C55AFF', '#FF7198'],
    series: [
      {
        name: '故障类型信息',
        type: 'radar',
        areaStyle: {
          color: 'rgba(29, 230, 255, 1)'
        },
        lineStyle: {
          color: 'rgba(50, 247, 255, 1)'
        },
        itemStyle: {
          color: 'rgba(50, 247, 255, 1)'
        },
        data: [
          {
            value: state.data.value
          }
        ]
      }
    ]
  }

  state.echart.setOption(option)
  resize(state.echart, 'radarchart')
}
</script>
<style lang="less" scoped></style>
