<template>
  <div style="width: 100%; height: 100%; position: relative">
    <!-- <div class="PieChart PieChartBottom" id="3DPieChartBottom" style="width: 100%; height: 100%"></div> -->
    <div class="PieChart PieChartShadow" id="3DPieChartShadow" style="width: 100%; height: 100%"></div>
    <div class="PieChart" id="3DPieChart" style="width: 100%; height: 100%"></div>
  </div>
</template>
<script setup>
import { inject, reactive, onMounted, onUnmounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { selfAdaption } from '@/utils/utils'

const Highcharts = inject('Highcharts')

const router = useRouter()
const route = useRoute()
const state = reactive({
  chart: null,
  chartShadow: null,
  options: {}
})
onMounted(() => {
  window.addEventListener('resize', () => {
    if (state.chart) {
      init()
    }
  })
  init()
})
onUnmounted(() => {
  window.removeEventListener('resize', () => {})
})
function init() {
  state.chart = Highcharts.chart({
    chart: {
      renderTo: '3DPieChart',
      backgroundColor: 'rgba(0,0,0,0)',
      type: 'pie',
      options3d: {
        enabled: true,
        alpha: 70
      }
    },
    title: {
      text: ''
    },
    tooltip: {
      enabled: false
    },
    credits: {
      enabled: false //不显示LOGO
    },

    plotOptions: {
      pie: {
        innerSize: '70%',
        depth: selfAdaption(30),
        dataLabels: {
          connectorWidth: 0,
          enabled: false
        }
      },
      series: {
        animation: false,
        enableMouseTracking: false
      }
    },
    series: [
      {
        label: {
          enabled: false
        },
        opacity: 1,
        name: '货物金额',
        data: [
          ['香蕉', 8],
          ['猕猴桃', 3],
          ['桃子', 1],
          ['橘子', 6],
          ['苹果', 8],
          ['梨', 4],
          ['柑橘', 4],
          ['橙子', 1],
          ['葡萄 (串)', 1]
        ]
      }
    ]
  })

  state.chartShadow = Highcharts.chart({
    chart: {
      renderTo: '3DPieChartShadow',
      type: 'pie',
      backgroundColor: 'rgba(0,0,0,0)',
      options3d: {
        enabled: true,
        alpha: 70
      }
    },
    title: {
      text: ''
    },
    tooltip: {
      enabled: false
    },
    credits: {
      enabled: false //不显示LOGO
    },

    plotOptions: {
      pie: {
        innerSize: '70%',
        depth: selfAdaption(30),
        dataLabels: {
          connectorWidth: 0,
          enabled: false
        }
      },
      series: {
        animation: false,
        enableMouseTracking: false
      }
    },
    series: [
      {
        label: {
          enabled: false
        },
        opacity: 0.6,
        borderColor: 'red',
        borderWidth: 10,
        name: '货物金额',
        data: [
          ['香蕉', 8],
          ['猕猴桃', 3],
          ['桃子', 1],
          ['橘子', 6],
          ['苹果', 8],
          ['梨', 4],
          ['柑橘', 4],
          ['橙子', 1],
          ['葡萄 (串)', 1]
        ]
      }
    ]
  })
}
</script>
<style lang="less" scoped>
.PieChart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.PieChartShadow {
  z-index: 5;
  top: 15px;
}
</style>
