<template>
  <div class="wh100">
    <p class="pageTitle">网关档案</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>

      <div :class="{ GWA_main_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="box GWA_mm_top">
          <p class="box_title box-bg-large-oth">网关管理</p>
          <div class="box_main">
            <div class="tableWrap">
              <el-table ref="tableRef" @row-click="rowClick" size="small" class="w100" height="100%" highlight-current-row :data="state.tableData">
                <el-table-column show-overflow-tooltip align="center" prop="stationName" label="站点名称" />
                <el-table-column show-overflow-tooltip align="center" prop="sn" label="设备编号" />
                <el-table-column show-overflow-tooltip align="center" prop="name" label="设备名称" />
                <el-table-column show-overflow-tooltip align="center" prop="type" label="设备类型">
                  <template v-slot="scope">
                    <span>{{ getType(scope.row) }}</span>
                  </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip align="center" prop="status" label="设备状态">
                  <template v-slot="scope">
                    <span v-if="scope.row.status == 0" class="errorColor">通讯异常</span>
                    <span v-if="scope.row.status == 1" class="successColor">通讯正常</span>
                  </template>
                </el-table-column>
                <el-table-column show-overflow-tooltip align="center" prop="onlineTime" label="在线时间" />
                <el-table-column show-overflow-tooltip align="center" prop="offlineTime" label="离线时间" />
                <el-table-column show-overflow-tooltip align="center" prop="amount3" label="数据刷新率" />
              </el-table>
            </div>
            <G-pagination :pageSize="state.pageSize" @sizeChange="sizeChange" @currentChange="currentChange" class="pagination" :total="state.total"></G-pagination>
          </div>
        </div>
        <div class="box GWA_mm_bot">
          <el-form ref="formRef" :model="state.form" :rules="state.rules" label-position="top" class="wh100 ohidden flex flex-ac flex-jb" size="small">
            <div class="form_item">
              <el-form-item label="站点名称" prop="stationName">
                <el-input disabled v-model="state.form.stationName" placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="设备名称" prop="name">
                <el-input v-model="state.form.name" placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="设备编号" prop="sn">
                <el-input v-model="state.form.sn" placeholder="请输入"></el-input>
              </el-form-item>
            </div>
            <div class="h100 verline"></div>
            <div class="form_item">
              <el-form-item label="设备类型" prop="type">
                <el-select clearable suffix-icon="CaretTop" v-model="state.form.type" placeholder="请选择">
                  <el-option v-for="item in state.typeOptions" :key="item.id + '' + item.name" :label="item.name" :value="item.id"> </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="设备状态" prop="status">
                <el-select clearable suffix-icon="CaretTop" v-model="state.form.status" placeholder="请选择">
                  <el-option v-for="item in state.statusOptions" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                </el-select>
                <!-- <el-input v-model="state.form.name"></el-input> -->
              </el-form-item>
              <el-form-item label="厂家" prop="manufacturerId">
                <el-select clearable suffix-icon="CaretTop" v-model="state.form.manufacturerId" placeholder="请选择">
                  <el-option v-for="item in state.manufacturers" :key="item.id" :label="item.name" :value="item.id"> </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="h100 verline"></div>
            <div class="form_item">
              <el-form-item label="在线时间" prop="onlineTime">
                <el-date-picker v-model="state.form.onlineTime" type="datetime" placeholder="请选择"> </el-date-picker>

                <!-- <el-input v-model="state.form.onlineTime" placeholder="请输入"></el-input> -->
              </el-form-item>
              <el-form-item label="离线时间" prop="offlineTime">
                <el-date-picker v-model="state.form.offlineTime" type="datetime" placeholder="请选择"> </el-date-picker>

                <!-- <el-input v-model="state.form.offlineTime" placeholder="请输入"></el-input> -->
              </el-form-item>
              <el-form-item label="日期" prop="createTime">
                <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.form.createTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
              </el-form-item>
            </div>
          </el-form>
          <div class="w100 btnsclass flex flex-jb">
            <div>
              <G-button class="mr20" @click="addBtn">新增</G-button>
              <G-button @click="deleteGatewaysHandler">删除</G-button>
            </div>
            <G-button @click="save">保存</G-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getGateways, addGateways, deleteGateways, getManufacturers, getEquipTypes, updateGateways, propertyDown, getEqmTree } from '@/http/api'
import { ElMessage } from 'element-plus'
import { cgDateTime } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const formRef = ref(null)
const tableRef = ref(null)
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  tableData: [],
  rules: [],
  isAdd: false,
  treeData: [],
  stationName: '',
  form: {
    stationName: '',
    name: '',
    sn: '',
    type: '',
    status: '',
    manufacturerId: '',
    onlineTime: '',
    offlineTime: '',
    createTime: ''
  },
  typeOptions: [{ id: 0, name: '智能网关' }],
  stationId: '',
  treeList: [],
  manufacturers: [],
  equipTypes: [],
  total: 0,
  currRow: {},
  pageNum: 1,
  pageSize: 10,
  statusOptions: [
    {
      id: 0,
      name: '通讯异常'
    },
    {
      id: 1,
      name: '通讯正常'
    }
  ]
})
getEquipTypesH()
getEqmTreeHandler(true)
getManufacturersHandler()
onMounted(() => {
  window.onresize = function (e) {
    console.log(e, '444444')
  }
})
function getEquipTypesH() {
  getEquipTypes().then(res => {
    state.equipTypes = res.data ? res.data.list : []
  })
}
function getManufacturersHandler() {
  getManufacturers({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.manufacturers = res.data ? res.data.list : []
  })
}
function getType(row) {
  let str = ''
  state.typeOptions.forEach(item => {
    if (item.id == row.type) {
      str = item.name
    }
  })
  return str
}
function getEqmTreeHandler(isfirst) {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data

    state.stationId = state.treeList[0].realId
    // state.stationId = 3
    gRef.value.setCurrentKey(state.stationId)
    getGatewaysHandler()
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    item.realPid = id
    if (item.level == 100) {
      state.treeList.push(item)
    }
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}
function getGatewaysHandler() {
  let params = {
    pageNum: state.pageNum,
    pageSize: state.pageSize,
    stationId: state.stationId
  }
  getGateways(params).then(res => {
    if (res.data && res.data.list.length > 0) {
      state.tableData = res.data ? res.data.list : []
      state.total = res.data.total
      if (Object.keys(state.currRow).length > 0) {
        tableRef.value.setCurrentRow(state.currRow)
      } else {
        state.currRow = state.tableData[0]
        tableRef.value.setCurrentRow(state.tableData[0])
        for (const key in state.form) {
          state.form[key] = state.tableData[0][key] || state.tableData[0][key] == 0 ? state.tableData[0][key] : ''
        }
      }
    } else {
      state.tableData = []
      state.total = 0
      tableRef.value.setCurrentRow()
      formRef.value.resetFields()
      state.currRow = {}
    }
    if (state.stationName != '') {
      state.form.stationName = state.stationName
    }
    state.isAdd = false
  })
}

function addBtn() {
  if (state.stationId == '') {
    ElMessage({
      message: '请先选择站点',
      type: 'warning'
    })
  } else {
    state.currRow = {}
    formRef.value.resetFields()
    tableRef.value.setCurrentRow()
    state.isAdd = true
    if (state.stationName != '') {
      state.form.stationName = state.stationName
    }
  }
}
function sizeChange(val) {
  state.pageSize = val
  getGatewaysHandler()
}
function currentChange(val) {
  state.pageNum = val
  state.currRow = {}
  getGatewaysHandler()
}
function nodeClick(value) {
  //   state.currTree = value
  if (value.level == 100) {
    state.stationId = value.realId
    state.stationName = value.name
  } else {
    state.stationId = ''
    state.stationName = ''
  }
  state.pageNum = 1
  state.currRow = {}
  getGatewaysHandler()
}

function rowClick(row, column, event) {
  state.currRow = row
  state.isAdd = false
  state.stationId = row.stationId
  for (const key in state.form) {
    state.form[key] = row[key] ? row[key] : ''
  }
}
function save() {
  formRef.value.validate(valid => {
    if (valid) {
      state.isAdd ? addGatewaysHandler() : updateGatewaysHandler()
    } else {
      return false
    }
  })
}
// watchEffect(() => {
//   console.log(state.stationId, '=================')
// })
function addGatewaysHandler() {
  if (state.stationId == '') {
    ElMessage({
      message: '请先选择站点',
      type: 'warning'
    })
  } else {
    let params = {
      stationId: state.stationId
    }
    state.form.createTime = cgDateTime(state.form.createTime)
    state.form.onlineTime = cgDateTime(state.form.onlineTime)
    state.form.offlineTime = cgDateTime(state.form.offlineTime)
    Object.assign(params, state.form)
    addGateways(params).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '添加成功',
          type: 'success'
        })
        getGatewaysHandler()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  }
}
function updateGatewaysHandler() {
  if (Object.keys(state.currRow).length > 0) {
    state.form.commissionTime = cgDateTime(state.form.commissionTime)
    let { stationId, alarmPush, factoryNumber, ip, mask, model, mremarks, router, stationName } = { ...state.currRow }
    let params = {
      stationId,
      alarmPush,
      factoryNumber,
      ip,
      mask,
      model,
      mremarks,
      router,
      stationName
    }
    Object.assign(params, state.form)
    updateGateways(state.currRow.id, params).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '修改成功',
          type: 'success'
        })
        //   getEqmTreeHandler()
        state.currRow = {}
        getGatewaysHandler()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  } else {
    ElMessage({
      message: '请选择网关后再修改',
      type: 'warning'
    })
  }
}
function deleteGatewaysHandler() {
  deleteGateways(state.currRow.id).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '删除成功',
        type: 'success'
      })
      //   getEqmTreeHandler()
      state.currRow = {}
      getGatewaysHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
</script>
<style lang="less" scoped>
.GWA_main_main {
  height: 100%;
  .GWA_mm_top {
    height: calc(100% - 340px);
    .box_main {
      padding: 20px 20px 10px 20px;
    }
  }
  .GWA_mm_bot {
    height: 320px;
    margin-top: 20px;
    padding: 20px;
    .el-form {
      height: calc(100% - 40px);
      .form_item {
        width: calc(33% - 60px);
        //   padding: 0 30px;
      }
      .el-form-item {
        padding: 0 20px;
        width: 100%;
        :deep(.el-select),
        :deep(.el-select .el-input),
        :deep(.el-date-editor),
        :deep(.el-input__inner) {
          width: 100% !important;
        }
      }
    }
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
  padding: 20px;
  padding-bottom: 0;
}
.pagination {
  margin: 10px;
}
</style>
