<template>
  <el-dialog v-model="state.dialogVisible" lock-scroll custom-class="PC_dialog">
    <template #title>
      <div class="box_title box-bg-large">
        <span>批量复制</span>
      </div>
    </template>
    <div class="wh100 PC_dialog_body flex flex-jb">
      <div class="h100 dialog_tree_box">
        <p class="F16 cfff FB">选择复制设备</p>
        <div class="dialog_tree">
          <G-tree ref="gTreeRef" @node-click="nodeClick" :data="props.treeData"></G-tree>
        </div>
      </div>
      <div class="dialog_table">
        <p class="F16 cfff FB">选择复制的参数表</p>
        <div class="padd20 tablediawrap">
          <el-table @selection-change="handleSelectionChange" ref="tableDiaRef" size="small" class="w100" height="100%" :data="state.tableData" stripe>
            <el-table-column type="selection" />
            <el-table-column align="center" prop="id" label="点号" />
            <el-table-column align="center" prop="dataType" label="类型"> </el-table-column>
            <el-table-column align="center" prop="name" label="参数名称"> </el-table-column>
            <el-table-column align="center" prop="unit" label="单位"> </el-table-column>
            <el-table-column align="center" prop="" label="系数"> </el-table-column>
            <el-table-column align="center" prop="equipmentId" label="所属设备">
              <template v-slot="scoped">
                <span>{{ getEquipmentName(scoped.row.equipmentId) }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" prop="" label="标准值"> </el-table-column>
            <el-table-column align="center" prop="saveInterval" label="保存间隔"> </el-table-column>
            <el-table-column align="center" prop="readType" label="读取方式"> </el-table-column>
            <el-table-column align="center" prop="address" label="寄存器地址"> </el-table-column>
          </el-table>
        </div>
        <div class="textright mt20">
          <G-button class="mr20" @click="state.dialogVisible = false">取消</G-button>
          <G-button @click="clickHandler">复制插入</G-button>
        </div>
      </div>
    </div>
    <!-- <template #footer>
      
    </template> -->
  </el-dialog>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { getEqmTree, getGriverParams, getPoints, getAllAlarmTypes, getPointAlarmSettings, addPoints, addBatchPoints, updatePoints, deletePoints } from '@/http/api'
const emit = defineEmits(['selectChange'])

const router = useRouter()
const route = useRoute()
const state = reactive({
  dialogVisible: false,
  equipmentId: '',
  selectArr: []
})

const props = defineProps({
  treeData: {
    type: Array,
    default: () => {
      return []
    }
  },
  tabIndex: {
    type: Number
  },
  equiplist: {
    type: Array
  }
})

onMounted(() => {})
function getEquipmentName(id) {
  let arr = props.equiplist.filter(item => {
    return item.realId == id
  })
  return arr.length > 0 ? arr[0].name : ''
}
function handleSelectionChange(val) {
  state.selectArr = val
}
function clickHandler() {
  state.selectArr.forEach(item => {
    props.equiplist.forEach(m => {
      if (item.equipmentId == m.realId) {
        item.equipmentId = m.realId
      }
    })
    item.showInput = true
    item.new_id = item.id
    item.id = ''
  })
  emit('selectChange', state.selectArr)
  state.dialogVisible = false
}
function getPointsHandler() {
  let params = {
    pageNum: 1,
    pageSize: 99999,
    // driverId:"",
    equipmentId: state.equipmentId,
    type: props.tabIndex
  }
  getPoints(params).then(res => {
    if (res.data && res.data.list.length > 0) {
      state.tableData = res.data.list
    } else {
      state.tableData = []
    }
  })
}
function nodeClick(value) {
  state.equipmentId = ''
  if (value.level == 10000) {
    state.equipmentId = value.realId
  }
  getPointsHandler()
}
function open() {
  state.dialogVisible = true
  getPointsHandler()
}
defineExpose({
  open
})
</script>
<style lang="less">
.PC_dialog {
  width: 1440px;
  height: 680px;
  border: 2px solid rgba(29, 230, 255, 0.5);
  background: rgba(0, 10, 9, 1);
  .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 8px;
      .el-icon.el-dialog__close {
        font-size: 30px;
        color: #fff;
        text-shadow: 0px 0px 20px #3df5ff;
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
      }
    }
    .box_title {
      height: 50px;
      line-height: 45px;
      padding-left: 30px;
      background-position: right bottom;
      background-size: 100% 115%;
    }
  }
  .el-dialog__body {
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px;
    .PC_dialog_body {
      .F16 {
        background: rgba(50, 247, 255, 0.06);
        padding: 10px 20px 0;
      }
      .dialog_tree_box {
        width: 255px;
      }
      .dialog_tree {
        height: calc(100% - 32px);
      }
      .tree_wrap {
        border: 0;
      }
      .dialog_table {
        width: calc(100% - 275px);
        height: 100%;
        .tablediawrap {
          background: rgba(50, 247, 255, 0.06);
          height: calc(100% - 90px);
          .el-checkbox {
            border-radius: 5px;
            .el-checkbox__inner {
              background-color: transparent;
              border: 1px solid rgba(50, 247, 255, 0.5);
            }
            .el-checkbox__inner::after {
              border: 2px solid #fff;
              border-left: 0;
              border-top: 0;
            }
            .el-checkbox__input.is-checked .el-checkbox__inner {
              background-color: rgba(50, 247, 255, 0.8);
            }
            // .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
            //   height: 4px;
            //   top: 4px;
            // }
          }
        }
      }
    }
  }
}
</style>
