<template>
  <el-breadcrumb separator=">">
    <el-breadcrumb-item :to="{ path: '/index/integrated' }">
      <el-icon><location /></el-icon>首页
    </el-breadcrumb-item>
    <el-breadcrumb-item v-for="(item, index) in state.router" :to="{ path: item.path }">
      <span>{{ item.meta.title }}</span>
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute, onBeforeRouteUpdate } from 'vue-router'

const router = useRouter()
const route = useRoute()
const state = reactive({
  curouter: sessionStorage.getItem('GF_curouter') ? JSON.parse(sessionStorage.getItem('GF_curouter')) : null,
  router: []
})

watchEffect(() => {
  let path = route.path
  state.router = route.matched.filter(item => {
    if (path.includes(item.path) && item.path !== '/' && item.meta.title !== '首页') return true
    return false
  })
})
onMounted(() => {})
</script>
<style lang="less" scoped>
.el-icon {
  vertical-align: middle;
  font-size: 16px;
}
:deep(.el-breadcrumb__inner.is-link) {
  color: #fff;
}
:deep(.el-breadcrumb__item:last-child .el-breadcrumb__inner) {
  text-shadow: 0px 0px 20px #fff;
  color: #fff;
  font-weight: bold;
}
:deep(.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child
    .el-breadcrumb__inner
    a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover) {
  text-shadow: 0px 0px 20px #fff;
  color: #fff !important;
  font-weight: bold !important;
}
</style>
