<template>
  <div class="heade wh100 flex flex-jb flex-ac">
    <div class="headeLeft flex flex-ac">
      <Breadcrumb></Breadcrumb>
    </div>
    <span class="systitle">新能源光伏智能运维系统</span>
    <div class="headeRight flex flex-ac flex-ja">
      <span class="timenum textShadow" style="color: #ffffff">{{ state.time }}</span>
      <span style="color: #27eddf">{{ state.week }}</span>
      <span style="color: #3bffff">{{ state.date }}</span>
      |
      <div class="flex flex-ac">
        <img src="../../assets/images/header/warn.png" alt="" />
        <span class="warnText">告警</span>
        <span class="warnNum">12</span>
      </div>
      |

      <!-- <el-dropdown> -->
      <div class="flex flex-ac pointer">
        <img src="../../assets/images/header/user.png" alt="" />
        <span class="username textoverflow">ADMIN</span>
        <img src="../../assets/images/header/arrowbottom.png" alt="" />
      </div>
      <!-- <template #dropdown>
          <el-dropdown-menu :disabled="true">
            <el-dropdown-item>Action 1</el-dropdown-item>
            <el-dropdown-item>Action 2</el-dropdown-item>
            <el-dropdown-item>Action 3</el-dropdown-item>
            <el-dropdown-item disabled>Action 4</el-dropdown-item>
            <el-dropdown-item divided>Action 5</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown> -->

      <img class="heademore pointer" src="../../assets/images/header/more.png" alt="" />
    </div>
  </div>
</template>
<script setup lang="ts">
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import Breadcrumb from "./breadcrumb.vue"

const router = useRouter()
const route = useRoute()
const state = reactive({
  date: '',
  weekArr: ['日', '一', '二', '三', '四', '五', '六'],
  week: '',
  time: ''
})



function getTime() {
  let date = new Date()
  let index = date.getDay()
  state.week = '星期' + state.weekArr[index]
  let month = date.getMonth() < 9 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
  let day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
  let hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours()
  let minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()
  let second = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds()
  state.time = hours + ':' + minutes + ':' + second
  state.date = date.getFullYear() + '.' + month + '.' + day
}
setInterval(() => {
  getTime()
}, 1000)

onMounted(() => {})
</script>
<style lang="less" scoped>
.heade {
  background: url('../../assets/images/header/header.png') no-repeat;
  background-size: 100% 100%;
  .systitle {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
  }
  .headeLeft {
    width: 555px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 10px;
    
  }
  .headeRight {
    width: 555px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    // img {
    //   vertical-align: middle;
    // }
    .timenum {
      font-size: 18px;
    }
    .warnText {
      color: #fff;
      font-size: 16px;
      margin: 0 10px;
    }
    .warnNum {
      height: 18px;
      background: red;
      border-radius: 10px;
      padding: 0 10px;
      color: #fff;
      line-height: 18px;
      font-weight: bold;
    }
    .username {
      width: 90px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
    }
    .heademore {
      margin: 0 10px;
    }
  }
}
</style>
