<template>
  <div class="wh100">
    <div class="flex flex-ac flex-jb">
      <span class="pageTitle"> 负荷统计 </span>
      <div>
        <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.starTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
        <G-button class="ml15" size="small">查询</G-button>
        <G-button class="ml15" size="small">导出</G-button>
      </div>
    </div>
    <div class="Share_Main w100 flex">
      <G-tree @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ LS_main_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <G-tab :data="state.tabdata"></G-tab>
        <div class="w100 LS_mm_main oauto">
          <div class="box">
            <p class="box_title box-bg-large-oth">xxx公司集团中心年统计报表</p>
            <div class="box_main">
              <div class="LS_item_top h100 cfff flex flex-ac">
                <!-- <el-table  size="small"class="wh100" height="100%" :data="state.tableData">
                  <el-table-column align="center" prop="name" label="电站名称">
                    <template v-slot="scope">
                      <span>装机容量</span>
                    </template>
                  </el-table-column>
                  <el-table-column v-for="(tci, tcd) in [1, 1, 1, 1, 1, 1]" align="center" prop="name" label="xxx光伏站" />
                </el-table> -->
                <div class="LS_item_topleft h100">
                  <p>装机容量</p>
                  <p>装机容量</p>
                </div>
                <div class="LS_item_topright h100 oauto nowrap">
                  <div v-for="(item, index) in [1, 1, 1, 1, 1]" class="h100 inlineblock">
                    <p style="background: rgba(255, 255, 255, 0.05)">xx光伏站</p>
                    <p>110049.23</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup >
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  tabdata: [
    { name: '年统计', id: 0 },
    { name: '月统计', id: 1 },
    { name: '日统计', id: 2 }
  ],
  tableData: [1, 2, 3]
})
onMounted(() => {
  asyncheight()
})

function asyncheight() {
  nextTick(() => {
    let PT = document.querySelectorAll('.LS_item_topright')
    for (let i = 0; i < PT.length; i++) {
      console.log(PT[i].offsetHeight, PT[i].children[0].offsetHeight, '9999')
      if (PT[i].offsetHeight > PT[i].children[0].offsetHeight + 2) {
        PT[i].previousElementSibling.classList.add('paddb6')
      } else {
        PT[i].previousElementSibling.classList.remove('paddb6')
      }
    }
  })
}
</script>
<style lang="less" scoped>
.LS_main_main {
  // width: calc(100% - 255px);
  height: 100%;
  .LS_mm_main {
    height: calc(100% - 52px);
    .box {
      height: calc(33.3% - 20px);
      margin-top: 20px;
      .LS_item_top {
        padding: 20px;
        .LS_item_topleft {
          border: 1px solid #103a36;
          border-right: 0;
          // border-bottom: 0;
          width: 180px;
          background: rgba(255, 255, 255, 0.05);
          p {
            border: 1px solid rgba(16, 58, 54, 0.8);
          }
        }
        .paddb6 {
          padding-bottom: 6px;
        }
        .LS_item_topright {
          width: calc(100% - 180px);
          border: 1px solid #103a36;
          border-left: 0;
          // border-bottom: 0;
          > div {
            min-width: 180px;
            max-width: 100%;
          }
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50%;
          border: 1px solid #103a36;
          text-align: center;
        }
      }
      .LS_item_bot {
        padding: 0 20px;
        .lllll {
          span {
            font-size: 12px;
            color: #fff;
            margin-right: 20px;
            i {
              color: rgba(50, 247, 255, 1);
              font-size: 22px;
              margin: 0 5px;
            }
            em {
              font-size: 12px;
              color: rgba(50, 247, 255, 0.7);
            }
          }
        }
      }
    }
  }
}
</style>
