<template>
  <div class="wh100">
    <div class="flex flex-ac flex-jb">
      <span class="pageTitle"> 发电量统计 </span>
      <div>
        <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.queryTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
        <G-button class="ml15" size="small" @click="searchHandler">查询</G-button>
        <G-button class="ml15" size="small">导出</G-button>
      </div>
    </div>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>

      <div :class="{ PG_main_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <G-tab @change="tabChange" :data="state.tabdata"></G-tab>
        <div class="w100 PG_mm_main oauto">
          <div class="box" v-for="(item, index) in state.reportData">
            <p class="box_title box-bg-large-oth">xxx公司集团中心年统计报表</p>
            <div class="box_main">
              <div class="PG_item_top cfff flex flex-ac">
                <!-- <el-table  size="small"class="wh100" height="100%" :data="state.tableData">
                  <el-table-column align="center" prop="name" label="电站名称">
                    <template v-slot="scope">
                      <span>装机容量</span>
                    </template>
                  </el-table-column>
                  <el-table-column v-for="(tci, tcd) in [1, 1, 1, 1, 1, 1]" align="center" prop="name" label="xxx光伏站" />
                </el-table> -->
                <div class="PG_item_topleft h100">
                  <p>电站名称</p>
                  <p>装机容量<span>kWp</span></p>
                  <p>发电量<span>kWh</span></p>
                  <p>累计发电量<span>kWh</span></p>
                </div>
                <div class="PG_item_topright h100 oauto nowrap">
                  <div v-for="(m, n) in item.stationPowerGenerationResults" class="h100 inlineblock">
                    <p style="background: rgba(255, 255, 255, 0.05)">xx光伏站</p>
                    <p>110049.23</p>
                    <p>110049.23</p>
                    <p>110049.23</p>
                  </div>
                </div>
              </div>
              <div class="PG_item_bot flex flex-jb">
                <div class="lllll">
                  <span
                    >合计发电量:<i>{{ item.totalPowerGeneration }}</i
                    ><em>kWh</em></span
                  >
                  <span
                    >合计装机容量:<i>{{ item.totalInstalledCapacity }}</i
                    ><em>kWh</em></span
                  >
                </div>
                <G-pagination :total="0"></G-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getEqmTree, getPGReport } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime } from '@/utils/utils'
const gRef = ref(null)
const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  tabdata: [
    { name: '年统计', id: 'y' },
    { name: '月统计', id: 'm' },
    { name: '周统计', id: 'w' },
    { name: '日统计', id: 'd' }
  ],
  tableData: [1, 2, 3],
  treeData: [],
  tabValue: 'y',
  companyId: '',
  stationId: '',
  queryTime: '',
  reportData: [],
  stationsList: []
})
getEqmTreeHandler()
onMounted(() => {
  asyncheight()
})

function getEqmTreeHandler() {
  getEqmTree({ level: 100 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    console.log(state.stationsList, 'state.stationsList')
    nextTick(() => {
      gRef.value.setCurrentKey(state.stationsList[0].realId)
      state.companyId = state.stationsList[0].realPid
      state.stationId = state.stationsList[0].realId
      getPGReportHandler()
    })
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    if (item.level == 100) {
      state.stationsList.push(item)
    }
    item.realPid = id
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}
function tabChange(val) {
  state.tabValue = val
  getPGReportHandler()
}
function getPGReportHandler() {
  let queryTime = state.queryTime == '' ? '' : dateFormat(state.queryTime)
  let params = {
    companyId: state.companyId,
    stationId: state.stationId,
    queryTime,
    statType: state.tabValue
  }
  getPGReport(params).then(res => {
    state.reportData = res.data ? [res.data] : []
  })
}
function nodeClick(value) {
  if (value.level == 100) {
    state.companyId = value.realPid
    state.stationId = value.realId
  } else if (value.level == 10) {
    state.companyId = value.realId
    state.stationId = ''
  } else {
    state.companyId = ''
    state.stationId = ''
  }
  getPGReportHandler()
}
function searchHandler() {
  if (state.queryTime == '') {
    ElMessage({
      message: '请选择查询日期',
      type: 'warning'
    })
  } else {
    getPGReportHandler()
  }
}
function asyncheight() {
  nextTick(() => {
    let PT = document.querySelectorAll('.PG_item_topright')
    for (let i = 0; i < PT.length; i++) {
      console.log(PT[i].offsetHeight, PT[i].children[0].offsetHeight, '9999')
      if (PT[i].offsetHeight > PT[i].children[0].offsetHeight + 2) {
        PT[i].previousElementSibling.classList.add('paddb6')
      } else {
        PT[i].previousElementSibling.classList.remove('paddb6')
      }
    }
  })
}
</script>
<style lang="less" scoped>
.PG_main_main {
  height: 100%;
  .PG_mm_main {
    height: calc(100% - 52px);
    .box {
      height: calc(50% - 20px);
      margin-top: 20px;
      .PG_item_top {
        height: calc(100% - 52px);
        padding: 20px;
        .PG_item_topleft {
          border: 1px solid #103a36;
          border-right: 0;
          // border-bottom: 0;
          width: 180px;
          background: rgba(255, 255, 255, 0.05);
          p {
            border: 1px solid rgba(16, 58, 54, 0.8);
            span {
              color: rgba(50, 247, 255, 0.4);
              margin-left: 5px;
            }
          }
        }
        .paddb6 {
          padding-bottom: 6px;
        }
        .PG_item_topright {
          width: calc(100% - 180px);

          border: 1px solid #103a36;
          border-left: 0;
          // border-bottom: 0;
          > div {
            width: 180px;
          }
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 25%;
          border: 1px solid #103a36;
          text-align: center;
        }
      }
      .PG_item_bot {
        padding: 0 20px;
        .lllll {
          span {
            font-size: 12px;
            color: #fff;
            margin-right: 20px;
            i {
              color: rgba(50, 247, 255, 1);
              font-size: 22px;
              margin: 0 5px;
            }
            em {
              font-size: 12px;
              color: rgba(50, 247, 255, 0.7);
            }
          }
        }
      }
    }
  }
}
</style>
