<template>
  <div class="wh100">
    <div class="flex flex-ac flex-jb">
      <span class="pageTitle"> 站点日统计 </span>
      <div>
        <el-date-picker size="mini" popper-class="datePicker_propper" v-model="state.starTime" type="date" placeholder="请选择日期" clearable></el-date-picker>
        <G-button class="ml15" size="small">查询</G-button>
        <G-button class="ml15" size="small">导出</G-button>
      </div>
    </div>
    <div class="Share_Main w100 flex">
      <G-tree @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ box: true, SD_main_right: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <p class="box_title box-bg-large-oth">xx光伏站日报表(2021-11-15)</p>
        <div class="box_main">
          <div class="tableWrap">
            <el-table size="small" class="w100" height="100%" :span-method="spanMethod" :data="state.tableTemData" :cell-style="cellStyle" border :show-header="false">
              <el-table-column align="center" prop="name" label="" />
              <el-table-column align="center" prop="name2" label="时间" />
              <el-table-column align="center" prop="name3" label="" />
              <el-table-column align="center" prop="name4" label="8:00" />
              <el-table-column align="center" prop="name5" label="1111" />
              <el-table-column align="center" prop="name5" label="1111" />
              <el-table-column align="center" prop="name5" label="1111" />
              <el-table-column align="center" prop="name5" label="1111" />
            </el-table>
          </div>
          <G-pagination :total="100"></G-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  tableData: [
    { name: '集控中心', name2: '器器器1', name3: '电压A', name4: '8:00', name5: '1111', rowspan_0: 12, rowspan_1: 4 },
    { name: '集控中心', name2: '器器器1', name3: '电压B', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器1', name3: '电压C', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器1', name3: '电压D', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器2', name3: '电压E', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 2, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器2', name3: '电压F', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器3', name3: '电压G', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 3, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器3', name3: '电压H', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '器器器3', name3: '电压I', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 2 },
    { name: '集控中心', name2: '器器器4', name3: '电压J', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 2, rowspan_2: 0 },
    { name: '集控中心', name2: '器器器4', name3: '电压K', name4: '8:00', name5: '1111', rowspan_0: 0, rowspan_1: 0, rowspan_2: 1 },
    { name: '集控中心', name2: '合计', name3: '合计日发电量', name4: '99999' }
  ],
  treeData: [
    {
      name: '集控中心',
      children: [
        {
          name2: '时间',
          children: [{ name3: '', name4: '8:00', name5: '1111' }]
        },
        {
          name2: '器器器1',
          children: [
            { name3: '电压A', name4: '8:00', name5: '1111' },
            { name3: '电压B', name4: '8:00', name5: '1111' }
          ]
        },
        {
          name2: '器器器2',
          children: [
            { name3: '电压A', name4: '8:00', name5: '1111' },
            { name3: '电压B', name4: '8:00', name5: '1111' }
          ]
        },
        {
          name2: '器器器3',
          children: [
            {
              name3: '电压A',
              children: [
                { name4: '8:00', name5: '1111' },
                { name4: '8:00', name5: '1111' }
              ]
            },
            {
              name3: '电压B',
              children: [
                { name4: '8:00', name5: '1111' },
                { name4: '8:00', name5: '1111' }
              ]
            },
            { name3: '电压C', name4: '8:00', name5: '1111' }
          ]
        },
        {
          name2: '器器器4',
          children: [
            { name3: '电压A', name4: '8:00', name5: '1111' },
            { name3: '电压B', name4: '8:00', name5: '1111' },
            { name3: '电压B', name4: '8:00', name5: '1111' }
          ]
        }
      ]
    }
  ],
  count: 0,
  tableTemData: [],
  maxArr: []
})

function tree_To_table(arr, num) {
  arr.forEach((item, index) => {
    state.count = 0
    if (item.children) {
      getnum(item.children)
      item['rowspan_' + num] = state.count
      let itemVar = JSON.parse(JSON.stringify(item))
      delete itemVar.children
      item.children.forEach((m, n) => {
        if (n != 0) {
          for (let o = 0; o <= num; o++) {
            itemVar['rowspan_' + o] = 0
          }
        }
        Object.assign(m, itemVar)
      })
      tree_To_table(item.children, num + 1)
    } else {
      item['rowspan_' + num] = 1
      state.maxArr.push(num)
      state.tableTemData.push(item)
    }
  })
}
tree_To_table(state.treeData, 0)

function getnum(arr) {
  arr.forEach((item, index) => {
    if (item.children) {
      getnum(item.children)
    } else {
      state.count += 1
    }
  })
}

setTimeout(() => {
  console.log(state.tableTemData, '===================')
}, 1000)

const spanMethod = ({ row, column, rowIndex, columnIndex }) => {
  let index = state.tableTemData.indexOf(row)
  if (columnIndex <= Math.max(...state.maxArr) - 1) {
    let rowspan = row['rowspan_' + columnIndex]
    if (rowIndex == 0 && columnIndex == 0) {
      rowspan = state.tableTemData.length
    }
    return {
      rowspan,
      colspan: rowspan == 0 ? 0 : 1
    }
  }
  return {
    rowspan: 1,
    colspan: 1
  }
}
function cellStyle({ row, column, rowIndex, columnIndex }) {
  if (columnIndex <= Math.max(...state.maxArr) - 1 || rowIndex == 0) {
    return 'background:rgba(50, 247, 255, 0.08)'
  }
}
onMounted(() => {})
</script>
<style lang="less" scoped>
.SD_main {
  height: calc(100% - 51px);
  margin-top: 20px;
  .SD_tree {
    width: 255px;
  }
  .SD_main_right {
    width: calc(100% - 275px);
    margin-left: 20px;
    padding: 20px 20px 0;
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
  padding: 20px;
}
.pagination {
  margin: 10px;
}
</style>
