<template>
  <div class="wh100">
    <div>
      <span class="pageTitle">历史告警</span>
      <!-- <span class="pageSubTitle">/ {{ state.treeData.length > 0 ? state.treeData[0].name : '集控中心' }}</span> -->
    </div>
    <div class="AA_main Share_Main flex">
      <G-tree nodekey="allId" ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ AA_main_right: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="w100 AA_main_right_main_top">
          <AlarmTop
            @indexChange="indexChange"
            @timeChange="timeChange"
            :stationArr="state.stationArr"
            :companyId="state.companyId"
            :stationId="state.stationId"
            :equipmentId="state.equipmentId"
            :titleName="state.titleName"
            :allId="state.allId"
          ></AlarmTop>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import PieChart from '@/components/echarts/pieChart.vue'
import AlarmTop from '../alarmAnalysis/components/alarmTop.vue'

import { getEqmTree, getAlarmDistributionChart, getAlarmalarmLevelChart, getAlarmhandleStatusChart } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, getAlarmLevelName, alarmLeveArr } from '@/utils/utils'

const gRef = ref(null)
const router = useRouter()
const route = useRoute()
const state = reactive({
  isExpend: true,
  equiplist: [],
  treeData: [],
  companyId: '',
  stationId: '',
  equipmentId: '',
  stationArr: [],
  time: {},
  distribution: [],
  equipmentTypeId: '',
  levelChart: [],
  handleChart: [],
  allIdsArr: [],
  titleName: '光伏站',
  allId: ''
})

getEqmTreeHandler()

onMounted(() => {
  //   init()
})

// function init() {
//   getAlarmDistributionChartHandler()
//   getAlarmalarmLevelChartHandler()
//   getAlarmhandleStatusChartHandler()
// }

function timeChange(val) {
  state.time = val
  //   init()
}

function getAlarmDistributionChartHandler() {
  let obj = {
    companyId: state.companyId,
    stationId: state.stationId
  }
  Object.assign(obj, state.time)
  let params = {}
  for (const key in obj) {
    if (obj[key] !== '' && (obj[key] || obj[key] == 0)) {
      params[key] = obj[key]
    }
  }
  getAlarmDistributionChart(params).then(res => {
    state.distribution = res.data ? res.data : []
  })
}
function indexChange(id) {
  state.allIdsArr.forEach(item => {
    if (item.allId == id) {
      gRef.value.setCurrentKey(item.allId)
      //   console.log(item)
      nodeClick({ allId: item.allId, name: item.name })
    }
  })
}

function getAllId() {}

function getAlarmalarmLevelChartHandler() {
  let obj = {
    companyId: state.companyId,
    stationId: state.stationId,
    equipmentId: state.equipmentId,
    equipmentTypeId: state.equipmentTypeId
  }
  Object.assign(obj, state.time)
  let params = {}
  for (const key in obj) {
    if (obj[key] !== '' && (obj[key] || obj[key] == 0)) {
      params[key] = obj[key]
    }
  }

  getAlarmalarmLevelChart(params).then(res => {
    state.levelChart = res.data ? res.data : []
  })
}

function getAlarmhandleStatusChartHandler() {
  let obj = {
    companyId: state.companyId,
    stationId: state.stationId,
    equipmentId: state.equipmentId,
    equipmentTypeId: state.equipmentTypeId
  }
  Object.assign(obj, state.time)
  let params = {}
  for (const key in obj) {
    if (obj[key] !== '' && (obj[key] || obj[key] == 0)) {
      params[key] = obj[key]
    }
  }

  getAlarmhandleStatusChart(params).then(res => {
    state.handleChart = res.data ? res.data : []
  })
}

function nodeClick(value) {
  state.companyId = ''
  state.stationId = ''
  state.equipmentId = ''
  state.equipmentTypeId = ''
  state.allId = value.allId
  let arr = value.allId.split('|')
  arr.forEach(item => {
    let strArr = item.split('_')
    let [key, realId] = [...strArr]
    switch (key) {
      case '10000':
        state.equipmentId = realId
        break
      case '1000':
        state.equipmentTypeId = realId
        break
      case '100':
        state.stationId = realId
        break
      case '10':
        state.companyId = realId
        break

      default:
        break
    }
  })
  //   console.log(value.includes('100_'),value.includes('1000_'), '======')
  if (value.allId.includes('100_') && !value.allId.includes('1000_')) {
    state.titleName = value.name
  } else {
    state.titleName = '光伏站'
  }
}

function getEqmTreeHandler() {
  getEqmTree({ level: 10000 }).then(res => {
    forTreeData(res.data, 0)
    state.treeData = res.data
    // state.titleName = state.treeData[0].name
    // console.log(state.treeData, 'state.treeData')
  })
}
function forTreeData(arr, id, allId) {
  arr.forEach(item => {
    item.realPid = id
    item.allId = item.level + '_' + item.realId + (allId ? '|' + allId : '')
    state.allIdsArr.push({ allId: item.allId, name: item.name })
    if (item.level == 100) {
      state.stationArr.push(item)
    }
    if (item.children) {
      forTreeData(item.children, item.realId, item.allId)
    }
  })
}
</script>
<style lang="less" scoped>
.AA_main {
  .AA_main_right {
    height: 100%;
    .AA_main_right_main_top {
      height: 100%;
    }
    .AA_main_right_main_bot {
      height: 40%;
      .box {
        width: calc(33.3% - 10px);
        // margin-left: 20px;
      }
    }
  }
}
.tableWrap {
  width: 100%;
  height: calc(100% - 55px);
}
.pagination {
  margin: 10px 0;
}
</style>
