<template>
  <div class="wh100">
    <div><span class="pageTitle">渔光互补光伏站·电度表</span><span class="pageSubTitle">/ 芜湖公司集控中心</span></div>
    <div class="flex Share_Main">
      <G-tree></G-tree>
      <div class="h100 WH_main_right flex1">
        <G-toptitle name="xx光伏站" :data="state.titleData"></G-toptitle>
        <div class="WH_main_right_main w100">
          <div class="main_item">
            <div class="item_title w100 flex flex-ac">
              <div class="item_title_left nbq_titlebg h100 flex flex-ac flex-jb">
                <span class="cfff F18">xxx电度表</span>
                <span class="F14 cfff">状态 <i>正常</i></span>
              </div>
              <div class="item_title_right">
                <span>型号 <i>xxxxxxxxxx</i></span>
                <span>生产厂家 <i>xxxxxxxxxx</i></span>
                <span>投运日期 <i>xxxxxxxxxx</i></span>
                <span>采样时间 <i>2021-01-01 12:22</i></span>
              </div>
            </div>
            <div class="item_main flex">
              <div class="item_main_item item_main_item_left">
                <div class="toptitle w100 flex flex-ac flex-jb">
                  <span>今日发电量 <em> kWh</em></span>
                  <i>10000.00</i>
                </div>
                <div class="leftmain oauto">
                  <el-descriptions :column="2" border>
                    <el-descriptions-item label-align="left" align="left" border label-class-name="my-label" class-name="my-content" v-for="(item, index) in state.newDataList" width="150px">
                      <template #label>
                        <span class="F12" style="color: #bec0c7">
                          {{ item.name }}
                          <i style="color: rgba(50, 247, 255, 0.4)">{{ item.unit }}</i>
                        </span>
                      </template>
                      <span class="F14" style="color: #32f7ff">{{ item.value }}</span>
                    </el-descriptions-item>
                  </el-descriptions>
                </div>
              </div>
              <div class="item_main_item item_main_item_center">
                <p class="F16 cfff paddt20 paddb20 paddl20 FB">指标曲线</p>
                <div class="w100 flex flex-ja flex-ac paddl20 paddr20">
                  <span>查询日期</span>
                  <el-date-picker
                    class="mr10"
                    size="mini"
                    popper-class="datePicker_propper"
                    v-model="state.time"
                    type="date"
                    placeholder="请选择日期"
                    clearable
                    @change="changeHandler($event)"
                  ></el-date-picker>
                  <span>信号点选择</span>
                  <el-select clearable suffix-icon="CaretTop" size="mini" v-model="state.value" class="m-2" placeholder="请选择">
                    <el-option v-for="item in state.options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                  </el-select>
                </div>
                <div class="w100 qxwrap">
                  <CurveFill></CurveFill>
                </div>
              </div>

              <div class="item_main_item">
                <p class="F16 cfff paddt20 paddb20 paddl20 FB">日发电量</p>
                <div class="w100 zhtwrap">
                  <Bar></Bar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import CurveFill from '@/components/echarts/curveFill.vue'
import Bar from '@/components/echarts/bar.vue'
const router = useRouter()
const route = useRoute()
const state = reactive({
  newDataList: [
    { name: '正向有功电度', unit: 'MWh', value: 104.83 },
    { name: '反向有功电度', unit: 'MWh', value: 1.0 },
    { name: '正向有功尖', unit: 'MWh', value: 104.83 },
    { name: '反向有功尖', unit: 'MWh', value: 104.83 },
    { name: '正向有功峰', unit: 'MWh', value: 104.83 },
    { name: '反向有功峰', unit: 'MWh', value: 104.83 },
    { name: '正向有功平', unit: 'MWh', value: 104.83 },
    { name: '反向有功平', unit: 'MWh', value: 104.83 },
    { name: '正向有功谷', unit: 'MWh', value: 104.83 },
    { name: '反向有功谷', unit: 'MWh', value: '-' }
  ],
  options: [],
  time: '',
  radio: '0',
  value: '',
  titleData: [
    { name: '数量', value: 3, unit: '个' },
    { name: '通讯终端', value: 3, unit: '个' },
    { name: '装机', value: 1234, unit: 'MW' },
    { name: '日发电量', value: 1234, unit: 'kWh' }
  ]
})
onMounted(() => {})
function changeHandler() {}
</script>
<style lang="less" scoped>
// .WH_main {
//   margin-top: 20px;
//   height: calc(100% - 51px);
//   //   .mi_main_tree {
//   //     width: 255px;
//   //   }
//   //   .WH_main_right {
//   //     width: calc(100% - 255px);
//   //   }
// }
.WH_main_right_main {
  height: calc(100% - 56px);
//   padding-left: 20px;
  .main_item {
    height: 50%;
    border-bottom: 2px solid rgba(50, 247, 255, 0.4);
    padding-top: 20px;
    .item_title {
      height: 47px;
      margin-bottom: 20px;
      .item_title_left {
        width: 377px;
        padding: 0 20px;
      }
      .item_title_right {
        span {
          color: #fff;
          font-size: 14px;
          margin: 0 10px;
          i {
            color: rgba(29, 230, 255, 1);
          }
        }
      }
    }
    .item_main {
      height: calc(100% - 87px);
      .item_main_item {
        width: calc(33% - 10px);
        margin-left: 10px;
        background: rgba(50, 247, 255, 0.04);
        .qxwrap {
          height: calc(100% - 90px);
        }
        .zhtwrap {
          height: calc(100% - 62px);
        }
      }
      .item_main_item_left {
        .toptitle {
          height: 70px;
          background: url('../../assets/images/jrfdl.png');
          background-size: 100% 100%;
          padding: 0 10px;
          span {
            font-size: 16px;
            color: #fff;
            em {
              color: rgba(50, 247, 255, 0.4);
              font-size: 14px;
            }
          }
          i {
            font-size: 26px;
            color: rgba(50, 247, 255, 1);
          }
        }
        .leftmain {
          height: calc(100% - 70px);
        }
      }
    }
  }
}

.el-descriptions {
  :deep(.my-label) {
    // width: 170px !important;
    white-space: nowrap;
  }
  :deep(.my-content) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
</style>
