<template>
  <div id="App">
    <router-view></router-view>
  </div>
</template>
<script setup lang="ts">
import * as echarts from 'echarts'
import Highcharts from 'highcharts'
import Highcharts3D from 'highcharts/highcharts-3d'
// console.log(Highcharts3D, 'Highcharts3D')
Highcharts3D(Highcharts)
import { provide } from 'vue'
import { onBeforeRouteUpdate } from 'vue-router'
provide('echarts', echarts)
// provide('Highcharts', Highcharts)


</script>
<style lang="less" src="./assets/css/style.less"></style>
