<template>
  <div class="wh100 PC">
    <p class="pageTitle">参数配置</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ VS_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="gtab">
          <G-tab :data="state.tabData" @change="tabChange"></G-tab>
        </div>
        <div class="main_main w100">
          <div class="box top_box padd20">
            <div class="tableWrap">
              <el-table ref="tableRef" size="small" @row-click="rowClick" class="w100" height="100%" highlight-current-row :data="state.topTableData" stripe>
                <el-table-column align="center" prop="id" label="点号" />
                <el-table-column align="center" prop="dataType" label="类型">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.dataType" placeholder=""></el-input>
                    <span v-else>{{ scoped.row.dataType }}</span>
                  </template>
                </el-table-column>

                <el-table-column align="center" prop="name" label="参数名称">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.name" placeholder=""></el-input>
                    <span v-else>{{ scoped.row.name }}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" prop="unit" label="单位">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.unit" placeholder=""></el-input>
                    <span v-else>{{ scoped.row.unit }}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" prop="" label="系数">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" placeholder=""></el-input>
                    <span v-else></span>
                  </template>
                </el-table-column>
                <el-table-column align="center" prop="equipmentId" label="所属设备">
                  <template v-slot="scoped">
                    <el-select v-if="scoped.row.showInput" size="small" suffix-icon="CaretTop" v-model="scoped.row.equipmentId" placeholder="请选择">
                      <el-option v-for="(item, index) in state.equipmentOptions" :key="item.realId + item.realId + item.id" :label="item.name" :value="item.realId"> </el-option>
                    </el-select>

                    <!-- <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.name" placeholder=""></el-input> -->
                    <span v-else>{{ getEquipmentName(scoped.row.equipmentId) }}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" prop="" label="标准值">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" placeholder=""></el-input>
                    <span v-else></span>
                  </template>
                </el-table-column>
                <el-table-column align="center" prop="saveInterval" label="保存间隔">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.saveInterval" placeholder=""></el-input>
                    <span v-else>{{ scoped.row.saveInterval }}</span>
                  </template>
                </el-table-column>

                <!-- <el-table-column align="center" prop="saveType" label="保存类型">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.saveType" placeholder="变位保存/合变化保存/分变化保存"></el-input>
                    <span v-else>{{ scoped.row.saveType }}</span>
                  </template>
                </el-table-column> -->

                <el-table-column align="center" prop="readType" label="读取方式">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.readType" placeholder="R/W/RW"></el-input>
                    <span v-else>{{ scoped.row.readType }}</span>
                  </template>
                </el-table-column>
                <!-- <el-table-column align="center" prop="address" label="寄存器地址">
                  <template v-slot="scoped">
                    <el-input v-if="scoped.row.showInput" size="small" v-model="scoped.row.address" placeholder=""></el-input>
                    <span v-else>{{ scoped.row.address }}</span>
                  </template>
                </el-table-column> -->
                <el-table-column align="center" label="操作">
                  <template v-slot="scoped">
                    <span @click="deletePointsHandler(scoped.row.id)" v-if="!scoped.row.showInput" class="F12 pointer" style="color: #32f7ff">
                      <el-icon><delete /></el-icon><i> 删除</i>
                    </span>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <div class="flex flex-jb mt20">
              <div class="flex">
                <G-button class="mr20" @click="addHandler">新增</G-button>
                <G-button class="mr20" @click="rowCopyInsert">整行复制插入(C)</G-button>
                <G-button @click="batchCopyInster">批量复制</G-button>
              </div>
              <div class="flex">
                <G-button class="mr20" @click="saveHandler">保存</G-button>
                <G-button @click="cancelHandler">取消</G-button>
              </div>
            </div>
          </div>
          <div class="bot_box w100 flex flex-jb">
            <div class="box bot_box_left padd20 w100">
              <p style="color: #c0f8ff">告警策略</p>
              <el-select style="width: 100%" size="small" clearable suffix-icon="CaretTop" v-model="state.warnVal" placeholder="请选择">
                <el-option v-for="item in state.warnList" :key="item.id" :label="item.name" :value="item.id"> </el-option>
              </el-select>
              <div class="mt20 w100">
                <p style="color: #c0f8ff">阈值设定</p>
                <div v-if="state.tabIndex == 2" class="flex flexjb">
                  <div class="flex1 flex flex-column">
                    <el-checkbox size="small" v-model="state.checkAll" :indeterminate="state.isIndeterminate" @change="handleCheckAllChange">全选</el-checkbox>
                    <el-checkbox-group v-model="state.checkValue" size="small" class="flex flex-column" @change="handlerCheckGroup">
                      <el-checkbox :label="1">隐患阈值</el-checkbox>
                      <el-checkbox :label="2">一般告警阈值</el-checkbox>
                      <el-checkbox :label="3">严重告警阈值</el-checkbox>
                      <el-checkbox :label="4">危急告警阈值</el-checkbox>
                    </el-checkbox-group>
                  </div>
                  <div class="w50 left_rightinput flex flex-column">
                    <div></div>
                    <div v-for="item in state.alarmLeveInput">
                      <el-input v-model="item.limitValue" :disabled="state.checkValue.indexOf(item.id) == -1" size="small" placeholder="-"></el-input>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <el-radio-group size="small" class="flex flex-column" @change="radioCange" v-model="state.radio">
                    <el-radio :label="1">隐患告警</el-radio>
                    <el-radio :label="2">一般告警</el-radio>
                    <el-radio :label="3">严重告警</el-radio>
                    <el-radio :label="4">危急告警</el-radio>
                    <el-radio :label="5">告警复归</el-radio>
                  </el-radio-group>
                </div>

                <div class="textright">
                  <G-button @click="addAlarmHandler">新增</G-button>
                </div>
              </div>
            </div>
            <div class="box bot_box_right padd20">
              <div class="tableWrap">
                <el-table size="small" class="w100" height="100%" highlight-current-row :data="state.botTableData" stripe>
                  <el-table-column align="center" prop="pointId" label="序号" />
                  <el-table-column align="center" prop="alarmDesc" label="参数名称"> </el-table-column>
                  <el-table-column align="center" prop="alarmTypeName" label="告警策略" />
                  <el-table-column align="center" prop="alarmLevel" label="告警等级">
                    <template v-slot="scoped">
                      <span>{{ state.getAlarmLevelName(scoped.row.alarmLevel) }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" prop="limitValue" label="阈值" />
                  <el-table-column align="center" label="操作">
                    <template v-slot="scoped">
                      <span @click="deletePointAlarmSettingsHandler(scoped)" class="F12 pointer" style="color: #32f7ff"
                        ><el-icon><delete /></el-icon><i> 删除</i></span
                      >
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div class="flex flex-jb mt20">
                <div></div>
                <div class="flex">
                  <G-button class="mr20" @click="otherSaveHandler">保存</G-button>
                  <G-button @click="otherCancelHandler">取消</G-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <PCdialog ref="PCdialogRef" @selectChange="selectChange" :tabIndex="state.tabIndex" :treeData="state.treeData" :equiplist="state.equiplist"></PCdialog>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import {
  getEqmTree,
  getGriverParams,
  getPoints,
  getAllAlarmTypes,
  getPointAlarmSettings,
  addPoints,
  addBatchPoints,
  updatePoints,
  deletePoints,
  addBatchPointAlarmSettings,
  updatePointAlarmSettings,
  deletePointAlarmSettings
} from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat, cgDateTime, getAlarmLevelName, alarmLeveArr } from '@/utils/utils'
import PCdialog from './components/PCdialog.vue'

const router = useRouter()
const route = useRoute()
const gRef = ref(null)
const tableRef = ref(null)
const PCdialogRef = ref(null)
const state = reactive({
  isExpend: true,
  getAlarmLevelName: getAlarmLevelName,
  tabData: [
    { name: '遥测', id: 2 },
    { name: '遥信', id: 1 }
  ],
  alarmLeveArr: alarmLeveArr,
  topTableData: [],
  botTableData: [],
  tabIndex: 2,
  treeData: [],
  griverParams: [],
  equipmentId: '',
  warnVal: '',
  warnList: [],
  checkValue: [],
  isIndeterminate: false,
  checkAll: false,
  currRow: {},
  showInput: true,
  judgBasis: null,
  equiplist: [],
  equipmentOptions: [],
  params: {
    id: '',
    dataType: '',
    name: '',
    unit: '',
    equipmentId: '',
    saveInterval: '',
    showInput: true,
    readType: '',
    adress: ''
  },
  temParams: {},
  dialogVisible: true,
  batchCopyArr: [],
  alarmLeveInput: [],
  temBotTableData: [],
  botJudgBasis: null,
  temBotParamsTable: [],
  topISsave: false,
  radio: '',
  companyId: '',
  stationId: ''
})

state.alarmLeveInput = alarmLeveArr.map(item => {
  return Object.assign({ limitValue: '' }, item)
})

// getGriverParamsHandler()
getEqmTreeHandler()

getAllAlarmTypesHandler()
onMounted(() => {
  //   gRef.value.setCurrentKey(2)
  //   console.log(state.equiplist, 'state.equipliststate.equipliststate.equiplist')
  getPointsHandler()
})
// 驱动参数
// function getGriverParamsHandler() {
//   getGriverParams({ pageNum: 1, pageSize: 99999 }).then(res => {
//     state.griverParams = res.data ? res.data.list : []
//   })
// }
// function getdriverName(driverId) {
//   let str = ''
//   state.griverParams.forEach(item => {
//     if (item.driverId == driverId) {
//       str = item.name
//     }
//   })
//   return str
// }

watchEffect(() => {
  state.equipmentOptions = state.equiplist.filter(item => {
    if (state.equipmentId) {
      return item.realId == state.equipmentId
    }
    return true
  })
  //   if (state.equipmentOptions.length > 0) {
  //     state.temParams.equipmentId = state.equipmentOptions[0].realId
  //   }
})
watchEffect(() => {
  //   if (Object.keys(state.currRow).length > 0 && !state.botJudgBasis) {
  //     getPointAlarmSettingsH()
  //   }
  //   console.log(state.temBotParamsTable, '3333333')
})
function tabChange(value) {
  state.tabIndex = value

  state.judgBasis = null
  state.currRow = {}
  state.temParams = {}
  state.batchCopyArr = []
  state.botJudgBasis = null
  state.temBotTableData = []
  state.temBotParamsTable = []
  state.botTableData = []
  state.warnVal = ''
  state.radio = ''
  state.checkValue = []
  state.isIndeterminate = false
  state.checkAll = false

  getAllAlarmTypesHandler()
  getPointsHandler()
}
function addHandler() {
  state.judgBasis = 'add'
  state.botJudgBasis = null
  state.temParams = JSON.parse(JSON.stringify(state.params))
  state.topTableData.push(state.temParams)
}
// 整行复制
function rowCopyInsert() {
  if (Object.keys(state.currRow).length > 0) {
    state.judgBasis = 'rowcopy'
    state.botJudgBasis = null
    state.temParams = JSON.parse(JSON.stringify(state.currRow))
    state.temParams['showInput'] = true
    state.temParams['id'] = ''
    // id不统一，为字符串或者数字，会导致表格内下拉框不回显，以下统一数据类型
    state.equipmentOptions.forEach(item => {
      if (item.realId == state.temParams.equipmentId) {
        state.temParams.equipmentId = item.realId
      }
    })
    state.topTableData.push(state.temParams)
    state.botJudgBasis = 'rowcopy'
    state.temBotTableData = JSON.parse(JSON.stringify(state.botTableData))
  } else {
    ElMessage({
      message: '请选择一条数据',
      type: 'warning'
    })
  }
}
function batchCopyInster() {
  PCdialogRef.value.open()
}
// 弹出框
function selectChange(value) {
  state.judgBasis = 'batchcopy'
  state.botJudgBasis = null
  state.batchCopyArr = value
  qwe(state.batchCopyArr, state.batchCopyArr.length)
  state.botJudgBasis = 'batchcopy'

  if (state.equipmentId != '') {
    state.batchCopyArr.forEach(m => {
      state.equipmentOptions.forEach(item => {
        if (item.realId == state.equipmentId) {
          m.equipmentId = item.realId
        }
      })
    })
  } else {
    state.batchCopyArr.forEach(m => {
      state.equipmentOptions.forEach(item => {
        if (item.realId == m.equipmentId) {
          m.equipmentId = item.realId
        }
      })
    })
  }

  state.topTableData.push(...state.batchCopyArr)
}
function qwe(data, datalen, len = 0) {
  if (datalen > 0 && len < data.length && data[len]) {
    getPointAlarmSettings({ pointId: data[len].new_id, pageNum: 1, pageSize: 99999 }).then(res => {
      if (res.data && res.data.list.length > 0) {
        state.temBotParamsTable = state.temBotParamsTable.concat(res.data.list)
        state.botTableData = JSON.parse(JSON.stringify(state.temBotParamsTable))
      }
      datalen -= 1
      len += 1
      qwe(data, datalen, len)
    })
  }
}
function cancelHandler() {
  state.judgBasis = null
  state.currRow = {}
  state.temParams = {}
  state.batchCopyArr = []
  state.botJudgBasis = null
  state.temBotTableData = []
  state.temBotParamsTable = []
  state.botTableData = []
  getPointsHandler()
}
function otherCancelHandler() {
  if (state.botJudgBasis) {
    state.botJudgBasis = null
    state.temBotTableData = []
    state.temBotParamsTable = []
    state.botTableData = []
  }
}
// 数据点保存
function saveHandler() {
  if (state.judgBasis == 'add') {
    addPointsHandler()
    state.topISsave = true
  }
  if (state.judgBasis == 'rowcopy') {
    // addPointsHandler()

    state.topISsave = true
  }
  if (state.judgBasis == 'batchcopy') {
    addBatchPointsHandler()

    state.topISsave = true
  }
}
// 告警保存
function otherSaveHandler() {
  if (!state.botJudgBasis) {
    addBatchPointAlarmSettingsH([state.botTableData[state.botTableData.length - 1]], false)
  }

  if (state.botJudgBasis == 'rowcopy') {
    let temarr = JSON.parse(JSON.stringify(state.topTableData))
    var maxValue = Math.max.apply(
      Math,
      temarr.map(function (item) {
        return item.newTime
      })
    )
    temarr.forEach(item => {
      if (maxValue === item.newTime) {
        state.temBotTableData.forEach(m => {
          m.pointId = item.id
          m.pointName = item.name
          delete m.id
        })
        addBatchPointAlarmSettingsH(state.temBotTableData, false)
      }
    })
  }
  if (state.botJudgBasis == 'batchcopy') {
    let temarr = JSON.parse(JSON.stringify(state.topTableData))
    var maxValue = Math.max.apply(
      Math,
      temarr.map(function (item) {
        return item.newTime
      })
    )
    let arr = []
    temarr.forEach(item => {
      if (maxValue === item.newTime) {
        let ap = JSON.parse(JSON.stringify(state.temBotParamsTable))
        ap.forEach(m => {
          m.pointId = item.id
          m.pointName = item.name
          delete m.id
        })
        addBatchPointAlarmSettingsH(ap, false)
      }
    })
  }
}
function getEquipmentName(id) {
  let arr = state.equiplist.filter(item => {
    return item.realId == id
  })
  return arr.length > 0 ? arr[0].name : ''
}
// 添加数据点
function addPointsHandler() {
  let params = {}
  if (state.judgBasis == 'add') {
    params.type = state.tabIndex
  }
  delete state.temParams.createTime
  Object.assign(params, state.temParams)
  addPoints(params).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '添加成功',
        type: 'success'
      })
      state.currRow = {}
      state.temParams = {}
      state.judgBasis = null
      getPointsHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
// 批量添加数据点
function addBatchPointsHandler() {
  //   let params = {
  //     type: state.tabIndex
  //   }
  //   Object.assign(params, state.batchCopyArr)

  state.batchCopyArr.forEach(item => {
    delete item.id
    delete item.createTime
  })

  addBatchPoints(state.batchCopyArr).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '添加成功',
        type: 'success'
      })
      state.currRow = {}
      state.batchCopyArr = []
      state.judgBasis = null
      getPointsHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
// 删除数据点
function deletePointsHandler(id) {
  deletePoints(id).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '删除成功',
        type: 'success'
      })
      state.currRow = {}
      state.batchCopyArr = {}
      state.judgBasis = null
      getPointsHandler()
      state.botTableData = []
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
// 删除告警
function deletePointAlarmSettingsHandler(scoped) {
  if (!state.botJudgBasis) {
    deletePointAlarmSettings(row.id).then(res => {
      if (res.code == 200) {
        ElMessage({
          message: '删除成功',
          type: 'success'
        })
        //   state.currRow = {}
        //   state.batchCopyArr = {}
        //   state.judgBasis = null
        getPointAlarmSettingsH()
      } else {
        ElMessage({
          message: res.message,
          type: 'error'
        })
      }
    })
  }
  if (state.botJudgBasis == 'batchcopy') {
    state.temBotParamsTable.splice(scoped.$index, 1)
    state.botTableData.splice(scoped.$index, 1)
  }
  if (state.botJudgBasis == 'rowcopy') {
    state.temBotTableData.splice(scoped.$index, 1)
    state.botTableData.splice(scoped.$index, 1)
  }
}

function rowClick(row, column, event) {
  if (!row.showInput) {
    state.currRow = row
    state.botJudgBasis = null
    getPointAlarmSettingsH()
  }
}

function handleCheckAllChange(value) {
  state.isIndeterminate = false
  if (value) {
    state.checkValue = [1, 2, 3, 4]
  } else {
    state.checkValue = []
  }
}

function radioCange(value) {
  console.log(value, '0-00-00')
}

// 添加告警按钮
function addAlarmHandler() {
  if (Object.keys(state.currRow).length <= 0 && !state.botJudgBasis) {
    ElMessage({
      message: '请选择数据点',
      type: 'warning'
    })
    return
  }
  if (state.warnVal == '' && !state.botJudgBasis) {
    ElMessage({
      message: '请选择告警策略',
      type: 'warning'
    })
    return
  }
  let alarmTypeA = state.warnList.filter(item => state.warnVal == item.id)
  if (state.tabIndex == 2) {
    let arr = state.alarmLeveInput.filter(item => state.checkValue.indexOf(item.id) > -1)
    let params = arr.map(item => {
      return {
        alarmDesc: '',
        alarmLevel: item.id,
        alarmType: state.warnVal,
        alarmTypeName: alarmTypeA[0].name,
        limitValue: item.limitValue,
        pointId: state.currRow.id,
        pointName: state.currRow.name
      }
    })
    if (state.botJudgBasis == 'batchcopy') {
      state.temBotParamsTable.push(...params)
      //   state.botTableData.push(...params)
    }
    if (state.botJudgBasis == 'rowcopy') {
      state.temBotTableData.push(...params)
      //   state.botTableData.push(...params)
    }
    state.botTableData.push(...params)
  }
  if (state.tabIndex == 1) {
    let params = {
      alarmDesc: '',
      alarmLevel: state.radio,
      alarmType: state.warnVal,
      alarmTypeName: alarmTypeA[0].name,
      //   limitValue: item.limitValue,
      pointId: state.currRow.id,
      pointName: state.currRow.name
    }
    if (state.botJudgBasis == 'batchcopy') {
      state.temBotParamsTable.push(params)
      //   state.botTableData.push(...params)
    }
    if (state.botJudgBasis == 'rowcopy') {
      state.temBotTableData.push(params)
      //   state.botTableData.push(...params)
    }
    state.botTableData.push(params)
  }
}

// 批量添加告警
function addBatchPointAlarmSettingsH(params, bol) {
  addBatchPointAlarmSettings(params).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '添加成功',
        type: 'success'
      })
      if (bol) {
        getPointAlarmSettingsH()
      }
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
function handlerCheckGroup(value) {
  if (value.length == 0) {
    state.isIndeterminate = false
    state.checkAll = false
  } else if (value.length == 4) {
    state.isIndeterminate = false
    state.checkAll = true
  } else {
    state.isIndeterminate = true
  }
  //   console.log(value, 'Group')
}
// 告警类型
function getAllAlarmTypesHandler() {
  getAllAlarmTypes({ type: state.tabIndex }).then(res => {
    state.warnList = res.data
  })
}
// 数据点列表
function getPointsHandler() {
  let params = {
    pageNum: 1,
    pageSize: 99999,
    // driverId:"",
    equipmentId: state.equipmentId,
    type: state.tabIndex
  }
  getPoints(params).then(res => {
    state.currRow = {}
    if (res.data && res.data.list.length > 0) {
      //   state.currRow = res.data.list[0]
      //   tableRef.value.setCurrentRow(state.currRow)
      res.data.list.forEach(item => {
        let starttime = item.createTime.replace(new RegExp('-', 'gm'), '/')
        let time = new Date(starttime).getTime()
        item.newTime = time
      })
      state.topTableData = res.data.list
    } else {
      state.topTableData = []
    }
  })
}
// 数据点告警列表
function getPointAlarmSettingsH() {
  getPointAlarmSettings({ pointId: state.currRow.id, pageNum: 1, pageSize: 99999 }).then(res => {
    state.botTableData = res.data ? res.data.list : []
  })
}

function getEqmTreeHandler(isfirst) {
  getEqmTree({ level: 10000 }).then(res => {
    forTreeData(res.data, 0)
    // console.log(res.data, '0000000000000')
    state.treeData = res.data
    // nextTick(() => {
    //   if (isfirst && Object.keys(route.query).length > 0) {
    //     gRef.value.setCurrentKey(route.query.stationId)
    //     state.stationId = route.query.stationId
    //   }
    //   getEquipmentsHandler()
    // })
  })
}
function forTreeData(arr, id) {
  arr.forEach(item => {
    item.realPid = id
    if (item.level == 10000) {
      state.equiplist.push(item)
    }
    if (item.children) {
      forTreeData(item.children, item.realId)
    }
  })
}

function nodeClick(value) {
  state.companyId = ''
  state.stationId = ''
  state.equipmentId = ''
  state.judgBasis = null
  if (value.level == 10000) {
    state.equipmentId = value.realId
  } else if (value.level == 100) {
    state.stationId = value.realId
  } else if (value.level == 10) {
    state.companyId = value.realId
  }
  getPointsHandler()
}
</script>
<style lang="less" scoped>
.gtab {
  margin-bottom: 20px;
}
.VS_main {
  height: 100%;
}
.main_main {
  height: calc(100% - 72px);
  .top_box {
    height: calc(100% - 420px);
    .tableWrap {
      height: calc(100% - 54px);
      :deep(.el-select),
      :deep(.el-select .el-input),
      :deep(.el-input__inner) {
        width: 100% !important;

        color: #fff;
      }
      .F12 {
        .el-icon {
          vertical-align: text-top;
        }
      }
    }
  }
  .bot_box {
    margin-top: 20px;
    height: 400px;
    .bot_box_left {
      width: 30%;
      :deep(.el-select),
      :deep(.el-select .el-input),
      :deep(.el-input__inner) {
        width: 100% !important;
      }
      .el-checkbox {
        color: rgba(50, 247, 255, 0.7);
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(50, 247, 255, 0.2);
        border-radius: 5px;
        padding: 0 10px;
        margin: 5px 0;
        :deep(.el-checkbox__inner) {
          background-color: transparent;
          border: 1px solid var(--input-border-color);
        }
        :deep(.el-checkbox__input.is-checked .el-checkbox__inner),
        :deep(.el-checkbox__input.is-indeterminate .el-checkbox__inner) {
          background-color: rgba(43, 225, 253, 0.9);
        }

        :deep(.el-checkbox__inner::after) {
          border: 2px solid #fff;
          border-left: 0;
          border-top: 0;
        }
        :deep(.el-checkbox__input.is-indeterminate .el-checkbox__inner::before) {
          height: 4px;
          top: 4px;
        }
      }
      label.el-checkbox.is-checked {
        :deep(.el-checkbox__label) {
          color: rgba(50, 247, 255, 1);
        }
      }
      .el-radio-group {
        width: 100%;
        .el-radio {
          width: 100%;
          color: rgba(50, 247, 255, 0.7);
          background: rgba(255, 255, 255, 0.05);
          border: 1px solid rgba(50, 247, 255, 0.2);
          border-radius: 5px;
          padding: 0 10px;
          margin: 5px 0;
          box-sizing: border-box;
        }
      }

      p {
        margin-bottom: 10px;
      }
      .left_rightinput {
        padding-left: 20px;
        > div {
          height: 34px;
          margin: 5px 0;
        }
      }
    }
    .bot_box_right {
      margin-left: 20px;
      width: calc(70% - 20px);
      .tableWrap {
        height: calc(100% - 54px);
      }
    }
  }
}
</style>
<style>
.PC .tab_item {
  margin-left: -60px !important;
}
</style>
