<template>
  <div class="wh100">
    <p class="pageTitle">企业档案概览</p>
    <div class="Share_Main w100 flex">
      <G-tree ref="gRef" @node-click="nodeClick" :data="state.treeData" @expendHandler="state.isExpend = $event"></G-tree>
      <div :class="{ EA_main: true, treeTSN: true, treeWidth: state.isExpend, w100: !state.isExpend }">
        <div class="w100 EA_m_main oauto">
          <div class="box EA_m_main_top">
            <p class="box_title box-bg-large-oth">企业概况</p>
            <div class="box_main padd20">
              <el-table ref="tableRef" size="small" @row-click="rowClick" @row-dblclick="rowDBlClick" class="w100" height="100%" highlight-current-row :data="state.tableData" stripe>
                <el-table-column show-overflow-tooltip align="center" prop="shortName" label="企业简称" />
                <el-table-column show-overflow-tooltip align="center" prop="name" label="企业全名" />
                <el-table-column show-overflow-tooltip align="center" prop="type" label="单位类型" />
                <el-table-column show-overflow-tooltip align="center" prop="nature" label="企业性质" />
                <el-table-column show-overflow-tooltip align="center" prop="installedCapacity" label="装机容量" />
                <el-table-column show-overflow-tooltip align="center" prop="runCapacity" label="运行容量" />
                <el-table-column show-overflow-tooltip align="center" prop="address" label="企业地址" />
                <el-table-column show-overflow-tooltip align="center" prop="createTime" label="创建时间" />
                <!-- <el-table-column align="center" prop="amount3" label="数据刷新率" /> -->
              </el-table>
            </div>
          </div>
          <div class="box EA_m_main_bot padd20">
            <el-form ref="formRef" :model="state.form" :rules="state.rules" label-position="top" class="wh100 ohidden" size="small">
              <div class="flex input_w100">
                <el-form-item label="企业名称" prop="name">
                  <el-input v-model="state.form.name" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="企业性质" prop="nature">
                  <el-select clearable suffix-icon="CaretTop" v-model="state.form.nature" placeholder="请选择">
                    <el-option v-for="item in state.natureOptions" :key="item" :label="item" :value="item"> </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="装机容量" prop="installedCapacity">
                  <el-input v-model="state.form.installedCapacity" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="运行容量" prop="runCapacity">
                  <el-input v-model="state.form.runCapacity" placeholder="请输入"></el-input>
                </el-form-item>
              </div>
              <div class="flex">
                <el-form-item label="企业简称" prop="shortName">
                  <el-input v-model="state.form.shortName" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="单位类型" prop="type">
                  <el-select clearable suffix-icon="CaretTop" v-model="state.form.type" placeholder="请选择">
                    <el-option v-for="item in state.typeOptions" :key="item" :label="item" :value="item"> </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item style="width: 50%" label="企业地址" prop="address">
                  <el-input v-model="state.form.address" placeholder="请输入"></el-input>
                </el-form-item>
              </div>
              <div class="flex flex-jb padd20">
                <div>
                  <G-button class="mr20" @click="addBtn">新增</G-button>
                  <G-button @click="deleteCompanysHandler">删除</G-button>
                </div>
                <G-button @click="save">保存</G-button>
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted } from 'vue-demi'
import { useRouter, useRoute } from 'vue-router'
import { getCompanys, updateCompanys, addCompanys, deleteCompanys, getEqmTree } from '@/http/api'
import { ElMessage } from 'element-plus'
import { dateFormat } from '@/utils/utils'

const router = useRouter()
const route = useRoute()
const formRef = ref(null)
const tableRef = ref(null)
const gRef = ref(null)
const state = reactive({
  isExpend: true,
  tableData: [],
  //   total:0,
  typeOptions: ['国企', '民企', '工厂', '事业单位'],
  natureOptions: ['测试', '投运'],
  rules: [],
  isAdd: false,
  currRow: {},
  form: {
    name: '',
    type: '',
    address: '',
    installedCapacity: '',
    nature: '',
    runCapacity: '',
    shortName: '',
    createTime: '',
    treeName: ''
  },
  treeData: [],
  currTree: {}
})
getEqmTreeHandler()
onMounted(() => {
  getCompanysHandler()
})

function getEqmTreeHandler() {
  getEqmTree({ level: 10 }).then(res => {
    state.treeData = res.data
    nextTick(() => {
      if (route.query.id) {
        gRef.value.setCurrentKey(route.query.id)
      }
    })
  })
}

function getCompanysHandler() {
  getCompanys({ pageNum: 1, pageSize: 99999 }).then(res => {
    state.tableData = res.data.list
    let data = {}
    if (Object.keys(route.query).length > 0) {
      data = res.data.list.filter(item => {
        return item.id == route.query.id
      })
    } else {
      data = res.data.list ? res.data.list : []
    }
    let row = data.length > 0 ? data[0] : {}
    state.currRow = row
    tableRef.value.setCurrentRow(row)
    for (const key in state.form) {
      state.form[key] = row[key] ? row[key] : ''
    }
    //   state.total = res.data.total
  })
}
function nodeClick(value) {
  console.log(value, '9090090')
  state.currTree = value
  state.form.treeName = value.name
  //   state.form.treeName = value.name
}
function addBtn() {
  state.currRow = {}
  formRef.value.resetFields()
  tableRef.value.setCurrentRow()
  state.isAdd = true
}
function rowDBlClick(row, column, event) {
  router.push({ path: '/fileManage/enterprisedtails', query: row })
}
function rowClick(row, column, event) {
  state.currRow = row
  for (const key in state.form) {
    state.form[key] = row[key] ? row[key] : ''
  }
}
function save() {
  formRef.value.validate(valid => {
    if (valid) {
      state.isAdd ? addCompanysHandler() : updateCompanysHandler()
    } else {
      return false
    }
  })
}
function addCompanysHandler() {
  state.form.createTime = dateFormat(new Date(), true)
  addCompanys(state.form).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '添加成功',
        type: 'success'
      })
      getEqmTreeHandler()
      getCompanysHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
function updateCompanysHandler() {
  updateCompanys(state.currRow.id, state.form).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '修改成功',
        type: 'success'
      })
      getEqmTreeHandler()
      getCompanysHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
function deleteCompanysHandler() {
  deleteCompanys(state.currRow.id).then(res => {
    if (res.code == 200) {
      ElMessage({
        message: '删除成功',
        type: 'success'
      })
      getEqmTreeHandler()
      getCompanysHandler()
    } else {
      ElMessage({
        message: res.message,
        type: 'error'
      })
    }
  })
}
</script>
<style lang="less" scoped>
.EA_main {
  height: 100%;
  .EA_m_main {
    height: 100%;
    .EA_m_main_top {
      height: calc(100% - 320px);
      margin-bottom: 20px;
    }
    .EA_m_main_bot {
      height: 300px;
      .el-form {
        .el-form-item {
          padding: 0 20px;
          width: 25%;
          :deep(.el-select),
          :deep(.el-select .el-input),
          :deep(.el-date-editor),
          :deep(.el-input__inner) {
            width: 100% !important;
          }
        }
      }
    }
  }
}
:deep(label.el-form-item__label) {
  color: #c0f8ff;
}
</style>
