<template>
  <div class="g-button" :class="props.type + ' ' + props.size">
    <slot></slot>
  </div>
</template>

<script setup>
const props = defineProps({
  // active
  type: {
    type: String,
    default: () => {
      return 'normal'
    }
  },
  //   default  small
  size: {
    type: String,
    default: () => {
      return 'default'
    }
  }
})
</script>

<style lang="less" scoped>
.g-button {
  display: inline-block;
  //   border: 1px solid rgb(24, 130, 134);

  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  //   box-shadow: inset 0px 0px 10px 0px rgba(50, 247, 255, 0.41);
  //   background: radial-gradient(farthest-corner at center bottom, rgba(50, 247, 255, 0.3), rgba(97, 252, 255, 0.1), rgba(50, 247, 255, 0.1));
}
.default {
  padding: 9px 24px;
  border-radius: 5px;
}
.small {
  padding: 3px 15px;
  border-radius: 2px;
}
.normal {
  background: url('../../assets/images/buttonbg.png');
  background-size: 100% 100%;
}
.g-button:hover,
.active {
  background: url('../../assets/images/buttonbg-active.png');
  background-size: 100% 100%;
  //   border-color: rgb(87, 244, 249);
  //   background: radial-gradient(farthest-corner at center bottom, rgba(50, 247, 255, 0.7), rgba(97, 252, 255, 0.4), rgba(50, 247, 255, 0.1));
}
.active {
  //   border-color: rgb(87, 244, 249) !important;
  //   background: radial-gradient(farthest-corner at center bottom, rgba(50, 247, 255, 0.7), rgba(97, 252, 255, 0.4), rgba(50, 247, 255, 0.1)) !important;
}
</style>
